.elementor-328 .elementor-element.elementor-element-0b335c4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 20px;
    --padding-top: 0px;
    --padding-right: 550px;
    --padding-bottom: 0px;
    --padding-left: 25px
}

.elementor-328 .elementor-element.elementor-element-5ef05b9 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase
}

.elementor-328 .elementor-element.elementor-element-fb1534c {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px
}

.elementor-328 .elementor-element.elementor-element-fb1534c .elementor-divider-separator {
    width: 38%
}

.elementor-328 .elementor-element.elementor-element-fb1534c .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px
}

.elementor-328 .elementor-element.elementor-element-d75f974 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-328 .elementor-element.elementor-element-d75f974>.elementor-widget-container {
    margin: 18px 0 0
}

.elementor-328 .elementor-element.elementor-element-2518107 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 19px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px
}

.elementor-328 .elementor-element.elementor-element-3b9d67e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-328 .elementor-element.elementor-element-3b9d67e:not(.elementor-motion-effects-element-type-background),
.elementor-328 .elementor-element.elementor-element-3b9d67e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("../../2023/08/Group-769.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-328 .elementor-element.elementor-element-3b9d67e,
.elementor-328 .elementor-element.elementor-element-3b9d67e::before {
    --border-transition: 0.3s
}

.elementor-328 .elementor-element.elementor-element-725075c .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 57px;
    font-weight: 600
}

.elementor-328 .elementor-element.elementor-element-598baf6 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.8px
}

.elementor-328 .elementor-element.elementor-element-598baf6>.elementor-widget-container {
    margin: 10px 0 0
}

.elementor-328 .elementor-element.elementor-element-e9aa5d6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 153px;
    --padding-right: 153px;
    --padding-bottom: 153px;
    --padding-left: 153px
}

.elementor-328 .elementor-element.elementor-element-e9aa5d6:not(.elementor-motion-effects-element-type-background),
.elementor-328 .elementor-element.elementor-element-e9aa5d6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff;
    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("../../2023/08/Group-768.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-328 .elementor-element.elementor-element-e9aa5d6,
.elementor-328 .elementor-element.elementor-element-e9aa5d6::before {
    --border-transition: 0.3s
}

.elementor-328 .elementor-element.elementor-element-1cf5817 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 57px;
    font-weight: 600
}

.elementor-328 .elementor-element.elementor-element-b40f852 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.8px
}

.elementor-328 .elementor-element.elementor-element-b40f852>.elementor-widget-container {
    margin: 10px 0 0
}

.elementor-328 .elementor-element.elementor-element-6639e19 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px
}

.elementor-328 .elementor-element.elementor-element-1bd20f4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px
}

.elementor-328 .elementor-element.elementor-element-214b88b .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase
}

.elementor-328 .elementor-element.elementor-element-5efcfd1 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px
}

.elementor-328 .elementor-element.elementor-element-5efcfd1 .elementor-divider-separator {
    width: 38%
}

.elementor-328 .elementor-element.elementor-element-5efcfd1 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px
}

.elementor-328 .elementor-element.elementor-element-2f75362 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-328 .elementor-element.elementor-element-2f75362>.elementor-widget-container {
    margin: 0
}

.elementor-328 .elementor-element.elementor-element-6bbfcac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-328 .elementor-element.elementor-element-a4ebdfc {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px
}

.elementor-328 .elementor-element.elementor-element-761ad97 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px
}

.elementor-328 .elementor-element.elementor-element-010d2ba {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-328 .elementor-element.elementor-element-010d2ba>.elementor-widget-container {
    margin: 18px 0 0
}

.elementor-328 .elementor-element.elementor-element-7f2a541 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 5px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-328 .elementor-element.elementor-element-80acfdf .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-328 .elementor-element.elementor-element-80acfdf .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-328 .elementor-element.elementor-element-80acfdf .elementor-button {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fff;
    border-radius: 0 0 0 0;
    padding: 0
}

.elementor-328 .elementor-element.elementor-element-e6ed2a3 .elementor-icon-wrapper {
    text-align: center
}

.elementor-328 .elementor-element.elementor-element-e6ed2a3 .elementor-icon {
    font-size: 14px
}

.elementor-328 .elementor-element.elementor-element-e6ed2a3 .elementor-icon svg {
    height: 14px
}

.elementor-328 .elementor-element.elementor-element-ec72d54 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px
}

.elementor-328 .elementor-element.elementor-element-3c4068a {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px
}

.elementor-328 .elementor-element.elementor-element-3c4068a.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-328 .elementor-element.elementor-element-77cbce9 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px
}

.elementor-328 .elementor-element.elementor-element-81f28b4 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-328 .elementor-element.elementor-element-81f28b4>.elementor-widget-container {
    margin: 18px 0 0
}

.elementor-328 .elementor-element.elementor-element-e75f697 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-328 .elementor-element.elementor-element-e75f697 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-328 .elementor-element.elementor-element-e75f697 .elementor-button {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fff;
    border-radius: 0 0 0 0;
    padding: 0
}

.elementor-328 .elementor-element.elementor-element-fada793 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-328 .elementor-element.elementor-element-25bec37 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px
}

.elementor-328 .elementor-element.elementor-element-1218159 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px
}

.elementor-328 .elementor-element.elementor-element-7e6d369 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-328 .elementor-element.elementor-element-7e6d369>.elementor-widget-container {
    margin: 18px 0 0
}

.elementor-328 .elementor-element.elementor-element-f80b032 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 5px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-328 .elementor-element.elementor-element-f4e556e .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-328 .elementor-element.elementor-element-f4e556e .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-328 .elementor-element.elementor-element-f4e556e .elementor-button {
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fff;
    border-radius: 0 0 0 0;
    padding: 0
}

.elementor-328 .elementor-element.elementor-element-77ffeef .elementor-icon-wrapper {
    text-align: center
}

.elementor-328 .elementor-element.elementor-element-77ffeef .elementor-icon {
    font-size: 14px
}

.elementor-328 .elementor-element.elementor-element-77ffeef .elementor-icon svg {
    height: 14px
}

.elementor-328 .elementor-element.elementor-element-d36c18c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
    --margin-top: 150px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px
}

.elementor-328 .elementor-element.elementor-element-e51b8d5 {
    text-align: center
}

.elementor-328 .elementor-element.elementor-element-e51b8d5 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase
}

.elementor-328 .elementor-element.elementor-element-6022105 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px
}

.elementor-328 .elementor-element.elementor-element-6022105 .elementor-divider-separator {
    width: 38%;
    margin: 0 auto;
    margin-center: 0
}

.elementor-328 .elementor-element.elementor-element-6022105 .elementor-divider {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px
}

.elementor-328 .elementor-element.elementor-element-4769f02 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 50px;
    --margin-left: 0px
}

@media(min-width:768px) {
    .elementor-328 .elementor-element.elementor-element-3b9d67e {
        --width: 50%
    }

    .elementor-328 .elementor-element.elementor-element-e9aa5d6 {
        --width: 50%
    }

    .elementor-328 .elementor-element.elementor-element-1bd20f4 {
        --width: 50%
    }

    .elementor-328 .elementor-element.elementor-element-6bbfcac {
        --width: 50%
    }

    .elementor-328 .elementor-element.elementor-element-3c4068a {
        --width: 49.985%
    }

    .elementor-328 .elementor-element.elementor-element-fada793 {
        --width: 50%
    }
}

@media(max-width:767px) {
    .elementor-328 .elementor-element.elementor-element-0b335c4 {
        --margin-top: 35px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-5ef05b9 {
        text-align: center
    }

    .elementor-328 .elementor-element.elementor-element-5ef05b9 .elementor-heading-title {
        font-size: 29px
    }

    .elementor-328 .elementor-element.elementor-element-fb1534c .elementor-divider {
        text-align: center
    }

    .elementor-328 .elementor-element.elementor-element-fb1534c .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-328 .elementor-element.elementor-element-d75f974>.elementor-widget-container {
        margin: 0
    }

    .elementor-328 .elementor-element.elementor-element-3b9d67e {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 70px;
        --padding-right: 0px;
        --padding-bottom: 70px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-725075c .elementor-heading-title {
        font-size: 35px
    }

    .elementor-328 .elementor-element.elementor-element-e9aa5d6 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 70px;
        --padding-right: 0px;
        --padding-bottom: 70px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-1cf5817 .elementor-heading-title {
        font-size: 35px
    }

    .elementor-328 .elementor-element.elementor-element-6639e19 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-1bd20f4 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-214b88b {
        text-align: center
    }

    .elementor-328 .elementor-element.elementor-element-214b88b .elementor-heading-title {
        font-size: 30px
    }

    .elementor-328 .elementor-element.elementor-element-5efcfd1 .elementor-divider {
        text-align: center
    }

    .elementor-328 .elementor-element.elementor-element-5efcfd1 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-328 .elementor-element.elementor-element-a4ebdfc {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-3c4068a {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-25bec37 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-d36c18c {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-328 .elementor-element.elementor-element-4769f02 {
        --margin-top: 20px;
        --margin-right: 0px;
        --margin-bottom: 50px;
        --margin-left: 0px
    }
}