.elementor-363 .elementor-element.elementor-element-6612429 {
    --display: flex;
    --min-height: 74vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 45px;
}

.elementor-363 .elementor-element.elementor-element-6612429:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-6612429>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/08/Dedicated-Development-Team-A.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-363 .elementor-element.elementor-element-6612429,
.elementor-363 .elementor-element.elementor-element-6612429::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-6099ee6 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-71d3790 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-363 .elementor-element.elementor-element-cae3a7e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-363 .elementor-element.elementor-element-cae3a7e>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-a73cd12 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-303d0a1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-9f9fbba .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-363 .elementor-element.elementor-element-78dfc33 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-363 .elementor-element.elementor-element-78dfc33>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-0a4d8ab {
    --divider-border-style: solid;
    --divider-color: #BBBBBB;
    --divider-border-width: 1px;
}

.elementor-363 .elementor-element.elementor-element-0a4d8ab .elementor-divider-separator {
    width: 100%;
}

.elementor-363 .elementor-element.elementor-element-0a4d8ab .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-363 .elementor-element.elementor-element-5bcc61d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-aee5253 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-aee5253.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-363 .elementor-element.elementor-element-77da4d0 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-1a6f0f8 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-1a6f0f8>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-643bfa1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-ee1b192 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-fbf55ee .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-9d894f1 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-9d894f1>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-d04f4b6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 30px;
    --padding-bottom: 75px;
    --padding-left: 30px;
}

.elementor-363 .elementor-element.elementor-element-d04f4b6:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-d04f4b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-d04f4b6,
.elementor-363 .elementor-element.elementor-element-d04f4b6::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-85889a8 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-363 .elementor-element.elementor-element-9764044 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 70px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-01c1184 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-01c1184:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-01c1184>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-01c1184,
.elementor-363 .elementor-element.elementor-element-01c1184::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-a0279ad img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-6b5d8c8 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-6b5d8c8>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-16e663e {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-16e663e:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-16e663e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-16e663e,
.elementor-363 .elementor-element.elementor-element-16e663e::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-572f9d8 img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-d569d30 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-d569d30>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-554e81c {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-554e81c:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-554e81c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-554e81c,
.elementor-363 .elementor-element.elementor-element-554e81c::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-ae8cf3d img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-9f779bc {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-9f779bc>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-b6a0f1d {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-b6a0f1d:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-b6a0f1d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-b6a0f1d,
.elementor-363 .elementor-element.elementor-element-b6a0f1d::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-b54876c img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-59e4285 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-59e4285>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-0b10bc5 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-0b10bc5:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-0b10bc5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-0b10bc5,
.elementor-363 .elementor-element.elementor-element-0b10bc5::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-72ee9ea img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-07e0b59 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-07e0b59>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-a30a6c7 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-a30a6c7:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-a30a6c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-a30a6c7,
.elementor-363 .elementor-element.elementor-element-a30a6c7::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-308b596 img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-f79b873 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-f79b873>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-97893ae {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-97893ae:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-97893ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-97893ae,
.elementor-363 .elementor-element.elementor-element-97893ae::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-854f948 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-363 .elementor-element.elementor-element-f180fea {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-f180fea:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-f180fea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-f180fea,
.elementor-363 .elementor-element.elementor-element-f180fea::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-53fa908 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-befafb1 img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-48211bd {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-48211bd>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-a348100 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-c3ecdf0 img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-ff251c1 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-ff251c1>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-123ef31 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-123ef31:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-123ef31>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-123ef31,
.elementor-363 .elementor-element.elementor-element-123ef31::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-4e9eec7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-677929f img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-8c646a8 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-8c646a8>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-7334746 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-16643ea img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-d50654a {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-d50654a>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-59c0781 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-59c0781:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-59c0781>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-363 .elementor-element.elementor-element-59c0781,
.elementor-363 .elementor-element.elementor-element-59c0781::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-da4a620 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-c7b6363 img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-e0dedb2 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-e0dedb2>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-31013a4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-9ad9d4d img {
    width: 55%;
}

.elementor-363 .elementor-element.elementor-element-bbf4764 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-bbf4764>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-c027d93 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-b0bd757 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-363 .elementor-element.elementor-element-1cafd6d .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-363 .elementor-element.elementor-element-fcc546a {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-363 .elementor-element.elementor-element-fcc546a .elementor-divider-separator {
    width: 38%;
}

.elementor-363 .elementor-element.elementor-element-fcc546a .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-363 .elementor-element.elementor-element-3cb3a5b {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-3cb3a5b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-e5fb4a4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-6e533d6 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-cf54588 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-43267fc {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-43267fc>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-222c0f2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-b6cd095 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-b6cd095.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-363 .elementor-element.elementor-element-6e4dd5f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-d933da0 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-d933da0>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-c8fdee8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-bcf66e4 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-8ed133f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-d39507c {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-d39507c>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-420e8bd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-061c884 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-061c884.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-363 .elementor-element.elementor-element-0c93f49 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-f05f79f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-f05f79f>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-93c686d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-dd9a1b7 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-363 .elementor-element.elementor-element-eea5b74 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-363 .elementor-element.elementor-element-999e3d5 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-999e3d5>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-593a850 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
    --margin-top: 75px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-1eca827 {
    --display: flex;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 40px;
}

.elementor-363 .elementor-element.elementor-element-50989fa .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-363 .elementor-element.elementor-element-50989fa>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-1f98239 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-363 .elementor-element.elementor-element-1f98239 .elementor-divider-separator {
    width: 10%;
}

.elementor-363 .elementor-element.elementor-element-1f98239 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-363 .elementor-element.elementor-element-53d8084 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-53d8084>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-dae24fe {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 75px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-363 .elementor-element.elementor-element-6c24c24 {
    --e-image-carousel-slides-to-show: 6;
}

.elementor-363 .elementor-element.elementor-element-6c24c24 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-363 .elementor-element.elementor-element-22f7b27 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-22f7b27:not(.elementor-motion-effects-element-type-background),
.elementor-363 .elementor-element.elementor-element-22f7b27>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-363 .elementor-element.elementor-element-22f7b27,
.elementor-363 .elementor-element.elementor-element-22f7b27::before {
    --border-transition: 0.3s;
}

.elementor-363 .elementor-element.elementor-element-62440f6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-363 .elementor-element.elementor-element-62440f6.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-363 .elementor-element.elementor-element-2f9d71f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-5652c50 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-1efb642 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-cc3f860 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-e7c6fbb {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-363 .elementor-element.elementor-element-a7d781c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-363 .elementor-element.elementor-element-fb3ec69 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-363 .elementor-element.elementor-element-b9288e9 {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-363 .elementor-element.elementor-element-b9288e9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-363 .elementor-element.elementor-element-e504d0b .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-363 .elementor-element.elementor-element-e504d0b .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-363 .elementor-element.elementor-element-e504d0b .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-363 .elementor-element.elementor-element-e504d0b {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-363 .elementor-element.elementor-element-e504d0b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-363 .elementor-element.elementor-element-aee5253 {
        --width: 49.985%;
    }

    .elementor-363 .elementor-element.elementor-element-643bfa1 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-53fa908 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-a348100 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-4e9eec7 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-7334746 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-da4a620 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-31013a4 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-b0bd757 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-e5fb4a4 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-b6cd095 {
        --width: 49.985%;
    }

    .elementor-363 .elementor-element.elementor-element-c8fdee8 {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-061c884 {
        --width: 49.985%;
    }

    .elementor-363 .elementor-element.elementor-element-93c686d {
        --width: 50%;
    }

    .elementor-363 .elementor-element.elementor-element-62440f6 {
        --width: 58.612%;
    }

    .elementor-363 .elementor-element.elementor-element-a7d781c {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-363 .elementor-element.elementor-element-6612429 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-71d3790 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-363 .elementor-element.elementor-element-cae3a7e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-a73cd12 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-303d0a1 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 30px;
        --padding-right: 10px;
        --padding-bottom: 30px;
        --padding-left: 10px;
    }

    .elementor-363 .elementor-element.elementor-element-9f9fbba .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-363 .elementor-element.elementor-element-78dfc33>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-5bcc61d {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-aee5253 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-ee1b192 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-d04f4b6 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-363 .elementor-element.elementor-element-85889a8 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-363 .elementor-element.elementor-element-01c1184 {
        --gap: 12px;
    }

    .elementor-363 .elementor-element.elementor-element-a0279ad {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-a0279ad img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-a0279ad>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-a0279ad.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-6b5d8c8>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-572f9d8 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-572f9d8 img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-572f9d8>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-572f9d8.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-ae8cf3d {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-ae8cf3d img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-ae8cf3d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-ae8cf3d.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-b54876c {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-b54876c img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-b54876c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-b54876c.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-72ee9ea {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-72ee9ea img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-72ee9ea>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-72ee9ea.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-308b596 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-308b596 img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-308b596>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-308b596.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-97893ae {
        --padding-top: 55px;
        --padding-right: 10px;
        --padding-bottom: 35px;
        --padding-left: 10px;
    }

    .elementor-363 .elementor-element.elementor-element-854f948 .elementor-heading-title {
        font-size: 23px;
        line-height: 1.3em;
    }

    .elementor-363 .elementor-element.elementor-element-53fa908 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-befafb1 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-befafb1 img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-befafb1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-befafb1.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-48211bd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-a348100 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-c3ecdf0 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-c3ecdf0 img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-c3ecdf0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-c3ecdf0.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-4e9eec7 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-677929f {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-677929f img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-677929f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-677929f.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-7334746 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-16643ea {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-16643ea img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-16643ea>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-16643ea.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-59c0781 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 55px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-da4a620 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-c7b6363 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-c7b6363 img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-c7b6363>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-c7b6363.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-31013a4 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-363 .elementor-element.elementor-element-9ad9d4d {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-9ad9d4d img {
        width: 100%;
    }

    .elementor-363 .elementor-element.elementor-element-9ad9d4d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-363 .elementor-element.elementor-element-9ad9d4d.elementor-element {
        --align-self: center;
    }

    .elementor-363 .elementor-element.elementor-element-c027d93 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-b0bd757 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-1cafd6d {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-1cafd6d .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-363 .elementor-element.elementor-element-fcc546a .elementor-divider {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-fcc546a .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-363 .elementor-element.elementor-element-6e533d6 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-b6cd095 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-bcf66e4 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-061c884 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-dd9a1b7 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-50989fa .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-363 .elementor-element.elementor-element-1f98239 .elementor-divider {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-1f98239 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-363 .elementor-element.elementor-element-6c24c24 {
        --e-image-carousel-slides-to-show: 2;
    }

    .elementor-363 .elementor-element.elementor-element-22f7b27 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-363 .elementor-element.elementor-element-62440f6 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-a7d781c {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-363 .elementor-element.elementor-element-fb3ec69 {
        text-align: center;
    }

    .elementor-363 .elementor-element.elementor-element-fb3ec69 .elementor-heading-title {
        font-size: 30px;
    }
}