.elementor-577 .elementor-element.elementor-element-f210d1f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-ce1fe8c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-2731ec3 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-577 .elementor-element.elementor-element-4168cd5 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-577 .elementor-element.elementor-element-4168cd5 .elementor-divider-separator {
    width: 38%;
}

.elementor-577 .elementor-element.elementor-element-4168cd5 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-577 .elementor-element.elementor-element-daa32b7 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-577 .elementor-element.elementor-element-daa32b7>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-9ab8740 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-c5e1030 img {
    width: 54%;
}

.elementor-577 .elementor-element.elementor-element-58a5ee5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 23px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-a91ef45 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-9c9626d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-99dafd5 {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-577 .elementor-element.elementor-element-99dafd5 img {
    width: 100%;
}

.elementor-577 .elementor-element.elementor-element-99dafd5.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-864af70 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-864af70>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-ca496da {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-ca496da>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-0ba3f08 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-4abb131 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-7c5e427 {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-577 .elementor-element.elementor-element-7c5e427 img {
    width: 100%;
}

.elementor-577 .elementor-element.elementor-element-7c5e427.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-fe392d9 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-fe392d9>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-bbb6947 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-bbb6947>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-620e964 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-2baf75e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-a7f923d {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-577 .elementor-element.elementor-element-a7f923d img {
    width: 100%;
}

.elementor-577 .elementor-element.elementor-element-a7f923d.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-394b856 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-394b856>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-f3bad0d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-f3bad0d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-889d8c3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 75px;
    --padding-left: 30px;
}

.elementor-577 .elementor-element.elementor-element-889d8c3:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-889d8c3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-577 .elementor-element.elementor-element-889d8c3,
.elementor-577 .elementor-element.elementor-element-889d8c3::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-97bd85b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 70px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-5adac68 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-5adac68:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-5adac68>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-577 .elementor-element.elementor-element-5adac68,
.elementor-577 .elementor-element.elementor-element-5adac68::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-5adac68.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-4ff9490 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 59px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 65px;
}

.elementor-577 .elementor-element.elementor-element-8a1f433 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-8a1f433:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-8a1f433>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-577 .elementor-element.elementor-element-8a1f433,
.elementor-577 .elementor-element.elementor-element-8a1f433::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-7a69538 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-7a69538>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-c30b07c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-da88ee8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-577 .elementor-element.elementor-element-da88ee8.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-39e7424 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-577 .elementor-element.elementor-element-30b795a {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-577 .elementor-element.elementor-element-30b795a .elementor-divider-separator {
    width: 38%;
}

.elementor-577 .elementor-element.elementor-element-30b795a .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-577 .elementor-element.elementor-element-030b1e1 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-030b1e1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-041f03b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-3dde098 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-3dde098.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-3dde098.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-3dde098.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-3dde098.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-3dde098.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-3dde098 .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-3dde098 .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-3dde098>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-258914f {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-258914f>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-ade9bd5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-a717aa5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-a717aa5.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-a717aa5.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-a717aa5.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-a717aa5.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-a717aa5.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-a717aa5 .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-a717aa5 .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-a717aa5>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-a405895 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-a405895>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-54c78e5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-9cf5db1 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-9cf5db1.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-9cf5db1.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-9cf5db1.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-9cf5db1.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-9cf5db1.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-9cf5db1 .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-9cf5db1 .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-9cf5db1>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-bf1b26e {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-bf1b26e>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-f7f68e5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-577 .elementor-element.elementor-element-f7f68e5.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-6b90657 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-577 .elementor-element.elementor-element-1bdadb0 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-577 .elementor-element.elementor-element-1bdadb0 .elementor-divider-separator {
    width: 38%;
}

.elementor-577 .elementor-element.elementor-element-1bdadb0 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-577 .elementor-element.elementor-element-f9b5af1 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-f9b5af1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-924da2e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-6ecd880 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-6ecd880.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-6ecd880.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-6ecd880.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-6ecd880.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-6ecd880.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-6ecd880 .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-6ecd880 .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-6ecd880>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-f8265e0 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-f8265e0>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-82d5be2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-c5025d7 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-c5025d7.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-c5025d7.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-c5025d7.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-c5025d7.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-c5025d7.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-c5025d7 .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-c5025d7 .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-c5025d7>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-c2ce8b0 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-c2ce8b0>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-c7b5e78 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-7f13eaf .elementor-icon-wrapper {
    text-align: center;
}

.elementor-577 .elementor-element.elementor-element-7f13eaf.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-7f13eaf.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-7f13eaf.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-7f13eaf.elementor-view-framed .elementor-icon,
.elementor-577 .elementor-element.elementor-element-7f13eaf.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-577 .elementor-element.elementor-element-7f13eaf .elementor-icon {
    font-size: 12px;
}

.elementor-577 .elementor-element.elementor-element-7f13eaf .elementor-icon svg {
    height: 12px;
}

.elementor-577 .elementor-element.elementor-element-7f13eaf>.elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-fab5148 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.elementor-577 .elementor-element.elementor-element-fab5148>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-577 .elementor-element.elementor-element-932635f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-932635f:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-932635f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-577 .elementor-element.elementor-element-932635f,
.elementor-577 .elementor-element.elementor-element-932635f::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-881c136 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-577 .elementor-element.elementor-element-bb24cb4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-577 .elementor-element.elementor-element-142e824 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-577 .elementor-element.elementor-element-142e824 .elementor-divider-separator {
    width: 38%;
}

.elementor-577 .elementor-element.elementor-element-142e824 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-577 .elementor-element.elementor-element-d516cef {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-d516cef>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-9f35a2b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-7d12fc6 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-577 .elementor-element.elementor-element-c14abc4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-bad4620 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-bad4620>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-4f54245 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-4f54245:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-4f54245>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-577 .elementor-element.elementor-element-4f54245,
.elementor-577 .elementor-element.elementor-element-4f54245::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-bc7ca5c {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-577 .elementor-element.elementor-element-bc7ca5c.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-6edfe53 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-cc58983 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-cc58983>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-82108e4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-c5012d1 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-577 .elementor-element.elementor-element-0a7e609 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-577 .elementor-element.elementor-element-fb84566 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-fb84566>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-5fa2090 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-5fa2090:not(.elementor-motion-effects-element-type-background),
.elementor-577 .elementor-element.elementor-element-5fa2090>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-577 .elementor-element.elementor-element-5fa2090,
.elementor-577 .elementor-element.elementor-element-5fa2090::before {
    --border-transition: 0.3s;
}

.elementor-577 .elementor-element.elementor-element-d4f4ccb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-577 .elementor-element.elementor-element-d4f4ccb.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-577 .elementor-element.elementor-element-f1dbc2f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-3283ec2 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-6871c96 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-050e1c1 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-1515393 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-577 .elementor-element.elementor-element-79e8958 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-577 .elementor-element.elementor-element-1365098 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-577 .elementor-element.elementor-element-f0bf5d3 {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-577 .elementor-element.elementor-element-f0bf5d3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-577 .elementor-element.elementor-element-f3c6c02>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-577 .elementor-element.elementor-element-ce1fe8c {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-9ab8740 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-a91ef45 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-0ba3f08 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-620e964 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-5adac68 {
        --width: 49.153%;
    }

    .elementor-577 .elementor-element.elementor-element-da88ee8 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-f7f68e5 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-881c136 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-9f35a2b {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-bc7ca5c {
        --width: 49.985%;
    }

    .elementor-577 .elementor-element.elementor-element-82108e4 {
        --width: 50%;
    }

    .elementor-577 .elementor-element.elementor-element-d4f4ccb {
        --width: 58.612%;
    }

    .elementor-577 .elementor-element.elementor-element-79e8958 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-577 .elementor-element.elementor-element-f210d1f {
        --padding-top: 50px;
        --padding-right: 10px;
        --padding-bottom: 0px;
        --padding-left: 10px;
    }

    .elementor-577 .elementor-element.elementor-element-2731ec3 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-577 .elementor-element.elementor-element-4168cd5 .elementor-divider {
        text-align: left;
    }

    .elementor-577 .elementor-element.elementor-element-4168cd5 .elementor-divider-separator {
        margin: 0 auto;
        margin-left: 0;
    }

    .elementor-577 .elementor-element.elementor-element-daa32b7>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-99dafd5 {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-99dafd5 img {
        width: 100%;
    }

    .elementor-577 .elementor-element.elementor-element-99dafd5>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-99dafd5.elementor-element {
        --align-self: center;
    }

    .elementor-577 .elementor-element.elementor-element-7c5e427 {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-7c5e427 img {
        width: 100%;
    }

    .elementor-577 .elementor-element.elementor-element-7c5e427>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-7c5e427.elementor-element {
        --align-self: center;
    }

    .elementor-577 .elementor-element.elementor-element-a7f923d {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-a7f923d img {
        width: 100%;
    }

    .elementor-577 .elementor-element.elementor-element-a7f923d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-a7f923d.elementor-element {
        --align-self: center;
    }

    .elementor-577 .elementor-element.elementor-element-889d8c3 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-577 .elementor-element.elementor-element-97bd85b {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-4ff9490 .elementor-heading-title {
        font-size: 29px;
        line-height: 1.1em;
    }

    .elementor-577 .elementor-element.elementor-element-8a1f433 {
        --gap: 12px;
        --margin-top: 25px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-7a69538>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-c30b07c {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-577 .elementor-element.elementor-element-da88ee8 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-39e7424 {
        text-align: left;
    }

    .elementor-577 .elementor-element.elementor-element-39e7424 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-577 .elementor-element.elementor-element-30b795a .elementor-divider {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-30b795a .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-577 .elementor-element.elementor-element-258914f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-a405895>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-bf1b26e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-f7f68e5 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-6b90657 {
        text-align: left;
    }

    .elementor-577 .elementor-element.elementor-element-6b90657 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-577 .elementor-element.elementor-element-1bdadb0 .elementor-divider {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-1bdadb0 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-577 .elementor-element.elementor-element-f8265e0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-c2ce8b0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-fab5148>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-932635f {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-577 .elementor-element.elementor-element-881c136 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-bb24cb4 {
        text-align: left;
    }

    .elementor-577 .elementor-element.elementor-element-bb24cb4 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-577 .elementor-element.elementor-element-142e824 .elementor-divider {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-142e824 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-577 .elementor-element.elementor-element-9f35a2b {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-7d12fc6 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-c14abc4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-577 .elementor-element.elementor-element-4f54245 {
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-577 .elementor-element.elementor-element-bc7ca5c {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-c5012d1 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-5fa2090 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-577 .elementor-element.elementor-element-d4f4ccb {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-79e8958 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-577 .elementor-element.elementor-element-1365098 {
        text-align: center;
    }

    .elementor-577 .elementor-element.elementor-element-1365098 .elementor-heading-title {
        font-size: 30px;
    }
}