.elementor-667 .elementor-element.elementor-element-922f229 {
    --display: flex;
    --min-height: 0vh;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, .07)
}

.elementor-667 .elementor-element.elementor-element-922f229:not(.elementor-motion-effects-element-type-background),
.elementor-667 .elementor-element.elementor-element-922f229>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-667 .elementor-element.elementor-element-922f229,
.elementor-667 .elementor-element.elementor-element-922f229::before {
    --border-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-5b9eec7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-91af13c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-91af13c:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-2ee95ff .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-a91ef3c {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-a91ef3c>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-667 .elementor-element.elementor-element-46fd0e9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-46fd0e9:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-587452d .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-eed7723 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-eed7723>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-667 .elementor-element.elementor-element-7a033b2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-7a033b2:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-3888f64 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-e2954b5 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-e2954b5>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-667 .elementor-element.elementor-element-209733d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-34051d8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-34051d8:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-420cc7d .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-6f23f05 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-6f23f05>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-667 .elementor-element.elementor-element-a2a23a9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-a2a23a9:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-44f982c .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-732c11f {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-732c11f>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-667 .elementor-element.elementor-element-e666d9e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-667 .elementor-element.elementor-element-e666d9e:hover {
    background-color: #f0f0f0
}

.elementor-667 .elementor-element.elementor-element-0827131 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-667 .elementor-element.elementor-element-811cbdd {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-667 .elementor-element.elementor-element-811cbdd>.elementor-widget-container {
    margin: 8px 0 0
}

@media(min-width:768px) {
    .elementor-667 .elementor-element.elementor-element-5b9eec7 {
        --width: 50%
    }

    .elementor-667 .elementor-element.elementor-element-91af13c {
        --width: 100%
    }

    .elementor-667 .elementor-element.elementor-element-46fd0e9 {
        --width: 100%
    }

    .elementor-667 .elementor-element.elementor-element-7a033b2 {
        --width: 100%
    }

    .elementor-667 .elementor-element.elementor-element-209733d {
        --width: 50%
    }

    .elementor-667 .elementor-element.elementor-element-34051d8 {
        --width: 100%
    }

    .elementor-667 .elementor-element.elementor-element-a2a23a9 {
        --width: 100%
    }

    .elementor-667 .elementor-element.elementor-element-e666d9e {
        --width: 100%
    }
}