.elementor-423 .elementor-element.elementor-element-8076210 {
    --display: flex;
    --min-height: 74vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 45px;
}

.elementor-423 .elementor-element.elementor-element-8076210:not(.elementor-motion-effects-element-type-background),
.elementor-423 .elementor-element.elementor-element-8076210>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("../../2023/08/Software-Quality-Assurance-A.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-423 .elementor-element.elementor-element-8076210,
.elementor-423 .elementor-element.elementor-element-8076210::before {
    --border-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-f713780 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-0329c8e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-423 .elementor-element.elementor-element-54a9894 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-423 .elementor-element.elementor-element-54a9894>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-52c5c01 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-abbc6ad {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-5fda541 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-423 .elementor-element.elementor-element-f314ae0 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-423 .elementor-element.elementor-element-f314ae0>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-a4b5bc1 {
    --divider-border-style: solid;
    --divider-color: #BBBBBB;
    --divider-border-width: 1px;
}

.elementor-423 .elementor-element.elementor-element-a4b5bc1 .elementor-divider-separator {
    width: 100%;
}

.elementor-423 .elementor-element.elementor-element-a4b5bc1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-423 .elementor-element.elementor-element-69cd177 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-d8bd966 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-423 .elementor-element.elementor-element-01920f6 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-423 .elementor-element.elementor-element-2c0ddfe {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-423 .elementor-element.elementor-element-2c0ddfe .elementor-divider-separator {
    width: 38%;
}

.elementor-423 .elementor-element.elementor-element-2c0ddfe .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-423 .elementor-element.elementor-element-5960d2e {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-5960d2e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-8c3b7bf {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-6cbe117 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-d8b0707 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-5f32c1d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-5f32c1d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-285c4cb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-76ab76f {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-76ab76f.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-3f0748c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-6933224 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-6933224>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-477a202 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-d87c1de {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-8b6cc62 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-b1f04dc {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-b1f04dc>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-e93739c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-241e14e {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-241e14e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-3a0951e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-4d4b88a {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-4d4b88a>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-a58d35a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-cf06a84 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-0dd5acc .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-2ea44fd {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-2ea44fd>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-01e5fb0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-7b16969 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-7b16969.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-ec8baf2 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-a0cc746 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-a0cc746>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-6304d85 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-aa8fc6d {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-a3d1d97 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-a3d1d97:not(.elementor-motion-effects-element-type-background),
.elementor-423 .elementor-element.elementor-element-a3d1d97>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-423 .elementor-element.elementor-element-a3d1d97,
.elementor-423 .elementor-element.elementor-element-a3d1d97::before {
    --border-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-b2be478 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-1bf0e64 {
    text-align: center;
}

.elementor-423 .elementor-element.elementor-element-1bf0e64 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-423 .elementor-element.elementor-element-9bc632e {
    text-align: center;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-9bc632e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-9c278ed {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-9a9cf98 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-423 .elementor-element.elementor-element-fb899ff .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-423 .elementor-element.elementor-element-836733c {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-423 .elementor-element.elementor-element-836733c .elementor-divider-separator {
    width: 38%;
}

.elementor-423 .elementor-element.elementor-element-836733c .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-423 .elementor-element.elementor-element-3e75a28 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-3e75a28>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-605f9fb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-a6574df {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-80834e8 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-3d2f943 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-3d2f943>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-1064fc2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-67debdb {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-67debdb.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-b38bb38 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-047dcfa {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-047dcfa>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-c2a688e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-e84fb45 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-0b6f1e4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-ab40bc9 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-ab40bc9>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-5cbe58c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-3ffcf1e {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-3ffcf1e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-9b79d1f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-eb155c9 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-eb155c9>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-bd9da19 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-8a1d43b {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-423 .elementor-element.elementor-element-7d3a609 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-423 .elementor-element.elementor-element-f865301 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-f865301>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-c2533b3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-c2533b3:not(.elementor-motion-effects-element-type-background),
.elementor-423 .elementor-element.elementor-element-c2533b3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-423 .elementor-element.elementor-element-c2533b3,
.elementor-423 .elementor-element.elementor-element-c2533b3::before {
    --border-transition: 0.3s;
}

.elementor-423 .elementor-element.elementor-element-7c77e90 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-423 .elementor-element.elementor-element-7c77e90.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-423 .elementor-element.elementor-element-33b1191 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-e8e6b54 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-b2e19bd {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-f8fd9d0 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-f283c11 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-423 .elementor-element.elementor-element-9c5a89b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-423 .elementor-element.elementor-element-bbfda92 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-423 .elementor-element.elementor-element-5e8cc2f {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-423 .elementor-element.elementor-element-5e8cc2f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-423 .elementor-element.elementor-element-7009cd2 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-423 .elementor-element.elementor-element-7009cd2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-423 .elementor-element.elementor-element-d8bd966 {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-8c3b7bf {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-76ab76f {
        --width: 49.985%;
    }

    .elementor-423 .elementor-element.elementor-element-477a202 {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-241e14e {
        --width: 49.985%;
    }

    .elementor-423 .elementor-element.elementor-element-a58d35a {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-7b16969 {
        --width: 49.985%;
    }

    .elementor-423 .elementor-element.elementor-element-6304d85 {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-9a9cf98 {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-605f9fb {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-67debdb {
        --width: 49.985%;
    }

    .elementor-423 .elementor-element.elementor-element-c2a688e {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-3ffcf1e {
        --width: 49.985%;
    }

    .elementor-423 .elementor-element.elementor-element-bd9da19 {
        --width: 50%;
    }

    .elementor-423 .elementor-element.elementor-element-7c77e90 {
        --width: 58.612%;
    }

    .elementor-423 .elementor-element.elementor-element-9c5a89b {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-423 .elementor-element.elementor-element-8076210 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-0329c8e .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-423 .elementor-element.elementor-element-54a9894>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-423 .elementor-element.elementor-element-52c5c01 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-abbc6ad {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 30px;
        --padding-right: 10px;
        --padding-bottom: 30px;
        --padding-left: 10px;
    }

    .elementor-423 .elementor-element.elementor-element-5fda541 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-423 .elementor-element.elementor-element-f314ae0>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-423 .elementor-element.elementor-element-69cd177 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-d8bd966 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-01920f6 {
        text-align: center;
    }

    .elementor-423 .elementor-element.elementor-element-01920f6 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-423 .elementor-element.elementor-element-2c0ddfe .elementor-divider {
        text-align: center;
    }

    .elementor-423 .elementor-element.elementor-element-2c0ddfe .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-423 .elementor-element.elementor-element-6cbe117 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-76ab76f {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-d87c1de {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-241e14e {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-cf06a84 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-7b16969 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-aa8fc6d {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-1bf0e64 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-423 .elementor-element.elementor-element-9c278ed {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-9a9cf98 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-fb899ff {
        text-align: center;
    }

    .elementor-423 .elementor-element.elementor-element-fb899ff .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-423 .elementor-element.elementor-element-836733c .elementor-divider {
        text-align: center;
    }

    .elementor-423 .elementor-element.elementor-element-836733c .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-423 .elementor-element.elementor-element-a6574df {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-67debdb {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-e84fb45 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-3ffcf1e {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-8a1d43b {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-c2533b3 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-423 .elementor-element.elementor-element-7c77e90 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-9c5a89b {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-423 .elementor-element.elementor-element-bbfda92 {
        text-align: center;
    }

    .elementor-423 .elementor-element.elementor-element-bbfda92 .elementor-heading-title {
        font-size: 30px;
    }
}