.elementor-210 .elementor-element.elementor-element-c6b878f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-c6b878f:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-c6b878f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-c6b878f,
.elementor-210 .elementor-element.elementor-element-c6b878f::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-f30b2a1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 14px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-a208155 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.3px
}

.elementor-210 .elementor-element.elementor-element-b38689d {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2px
}

.elementor-210 .elementor-element.elementor-element-b38689d .elementor-divider-separator {
    width: 10%
}

.elementor-210 .elementor-element.elementor-element-b38689d .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-210 .elementor-element.elementor-element-063590a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-db0cf46 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-db0cf46 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-db0cf46 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: var(--container-widget-width, 8%);
    max-width: 8%;
    --container-widget-width: 8%;
    --container-widget-flex-grow: 0
}

.elementor-210 .elementor-element.elementor-element-db0cf46 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-db0cf46 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.3px
}

.elementor-210 .elementor-element.elementor-element-db0cf46 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-db0cf46.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-3a90006 {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: var(--container-widget-width, 40.48%);
    max-width: 40.48%;
    --container-widget-width: 40.48%;
    --container-widget-flex-grow: 0
}

.elementor-210 .elementor-element.elementor-element-3a90006.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-e66d0f9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-44870f3 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-d94ab9e {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: var(--container-widget-width, 100.25%);
    max-width: 100.25%;
    --container-widget-width: 100.25%;
    --container-widget-flex-grow: 0
}

.elementor-210 .elementor-element.elementor-element-d94ab9e.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-04f0b06 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-059e452 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-b1b092f {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: var(--container-widget-width, 100.25%);
    max-width: 100.25%;
    --container-widget-width: 100.25%;
    --container-widget-flex-grow: 0
}

.elementor-210 .elementor-element.elementor-element-b1b092f.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-e973c08 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-e973c08:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-e973c08>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-e973c08,
.elementor-210 .elementor-element.elementor-element-e973c08::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-f9d4771 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-db0badd {
    --divider-border-style: solid;
    --divider-color: #D5D5D54F;
    --divider-border-width: 1px
}

.elementor-210 .elementor-element.elementor-element-db0badd .elementor-divider-separator {
    width: 100%
}

.elementor-210 .elementor-element.elementor-element-db0badd .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-210 .elementor-element.elementor-element-811378d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-811378d:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-811378d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-811378d,
.elementor-210 .elementor-element.elementor-element-811378d::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-3f6e932 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-ef6215f {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2px
}

.elementor-210 .elementor-element.elementor-element-ef6215f .elementor-divider-separator {
    width: 10%
}

.elementor-210 .elementor-element.elementor-element-ef6215f .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-2be3c3e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-bbaddd1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-bbaddd1:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-bbaddd1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-bbaddd1,
.elementor-210 .elementor-element.elementor-element-bbaddd1::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-6164c3e .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-a54f4b6 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2px
}

.elementor-210 .elementor-element.elementor-element-a54f4b6 .elementor-divider-separator {
    width: 10%
}

.elementor-210 .elementor-element.elementor-element-a54f4b6 .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-9eadc1b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-5d05c7b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-5d05c7b:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-5d05c7b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-5d05c7b,
.elementor-210 .elementor-element.elementor-element-5d05c7b::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-bad8ef5 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-b20f23c {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2px
}

.elementor-210 .elementor-element.elementor-element-b20f23c .elementor-divider-separator {
    width: 10%
}

.elementor-210 .elementor-element.elementor-element-b20f23c .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-210 .elementor-element.elementor-element-d19ef44 {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-d19ef44:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-d19ef44>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-d19ef44,
.elementor-210 .elementor-element.elementor-element-d19ef44::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-987dc13 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-1bacbef {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-a7cd8e0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 30px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-a7cd8e0:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-a7cd8e0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-a7cd8e0,
.elementor-210 .elementor-element.elementor-element-a7cd8e0::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-f0421d7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-f0421d7.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-e2ff524 {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-e2ff524.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-1a06590 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-388ca19 {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-2d40307 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-be168d7 {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-3f145c8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-816b5be {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-8293711 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-b174ca6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-b174ca6:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-b174ca6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-b174ca6,
.elementor-210 .elementor-element.elementor-element-b174ca6::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-0f99f77 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-0f99f77.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-c9ddd8e {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-c9ddd8e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-5fbbf1b .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-50391b9 {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-50391b9.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-b129fec {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-b129fec .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-050ca5e {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-565ad55 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-565ad55 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-bca3ea7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-d43410d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-db76793 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-988c1c3 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-988c1c3 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-c8144db {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2)
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2)
}

body.rtl .elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2)
}

body:not(.rtl) .elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2)
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-210 .elementor-element.elementor-element-749d490 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-item>a {
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-749d490 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-210 .elementor-element.elementor-element-1379943 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px
}

.elementor-210 .elementor-element.elementor-element-ccd9820 {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-ccd9820:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-ccd9820>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-ccd9820,
.elementor-210 .elementor-element.elementor-element-ccd9820::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-2ad73a8 .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-152cef9 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-210 .elementor-element.elementor-element-152cef9 .elementor-widget-container {
    text-align: center
}

.elementor-210 .elementor-element.elementor-element-152cef9 .elementor-social-icon {
    background-color: #92535300
}

.elementor-210 .elementor-element.elementor-element-152cef9 .elementor-social-icon i {
    color: #fff
}

.elementor-210 .elementor-element.elementor-element-152cef9 .elementor-social-icon svg {
    fill: #fff
}

.elementor-210 .elementor-element.elementor-element-19ece1a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-19ece1a:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-19ece1a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-19ece1a,
.elementor-210 .elementor-element.elementor-element-19ece1a::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-1c9c6ef {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: flex-start;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-9f52574 {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px
}

.elementor-210 .elementor-element.elementor-element-9f52574>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-210 .elementor-element.elementor-element-baa20ac {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-52b205c .elementor-heading-title {
    color: #fff;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px
}

.elementor-210 .elementor-element.elementor-element-59a89f4 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 23px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-210 .elementor-element.elementor-element-59a89f4 .elementor-widget-container {
    text-align: center
}

.elementor-210 .elementor-element.elementor-element-59a89f4 .elementor-social-icon {
    background-color: #92535300
}

.elementor-210 .elementor-element.elementor-element-59a89f4 .elementor-social-icon i {
    color: #fff
}

.elementor-210 .elementor-element.elementor-element-59a89f4 .elementor-social-icon svg {
    fill: #fff
}

.elementor-210 .elementor-element.elementor-element-59a89f4>.elementor-widget-container {
    padding: 0 0 0 29px
}

.elementor-210 .elementor-element.elementor-element-f47943d {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 29px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-210 .elementor-element.elementor-element-f47943d .elementor-widget-container {
    text-align: center
}

.elementor-210 .elementor-element.elementor-element-f47943d .elementor-social-icon {
    background-color: #92535300
}

.elementor-210 .elementor-element.elementor-element-f47943d .elementor-social-icon i {
    color: #fff
}

.elementor-210 .elementor-element.elementor-element-f47943d .elementor-social-icon svg {
    fill: #fff
}

.elementor-210 .elementor-element.elementor-element-7650f49 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 23px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-210 .elementor-element.elementor-element-7650f49 .elementor-widget-container {
    text-align: center
}

.elementor-210 .elementor-element.elementor-element-7650f49 .elementor-social-icon {
    background-color: #92535300
}

.elementor-210 .elementor-element.elementor-element-7650f49 .elementor-social-icon i {
    color: #fff
}

.elementor-210 .elementor-element.elementor-element-7650f49 .elementor-social-icon svg {
    fill: #fff
}

@media(min-width:768px) {
    .elementor-210 .elementor-element.elementor-element-f30b2a1 {
        --width: 100%
    }

    .elementor-210 .elementor-element.elementor-element-04f0b06 {
        --content-width: 890px
    }

    .elementor-210 .elementor-element.elementor-element-f9d4771 {
        --width: 100%
    }

    .elementor-210 .elementor-element.elementor-element-f0421d7 {
        --width: 67.637%
    }

    .elementor-210 .elementor-element.elementor-element-e2ff524 {
        --width: 20.075%
    }

    .elementor-210 .elementor-element.elementor-element-3f145c8 {
        --width: 33.33%
    }

    .elementor-210 .elementor-element.elementor-element-0f99f77 {
        --width: 67.638%
    }

    .elementor-210 .elementor-element.elementor-element-c9ddd8e {
        --width: 20.076%
    }

    .elementor-210 .elementor-element.elementor-element-50391b9 {
        --width: 34.57%
    }

    .elementor-210 .elementor-element.elementor-element-bca3ea7 {
        --width: 33.33%
    }

    .elementor-210 .elementor-element.elementor-element-1c9c6ef {
        --width: 50%
    }

    .elementor-210 .elementor-element.elementor-element-baa20ac {
        --width: 50%
    }
}

@media(max-width:767px) {
    .elementor-210 .elementor-element.elementor-element-c6b878f {
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px
    }

    .elementor-210 .elementor-element.elementor-element-a208155 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-b38689d .elementor-divider-separator {
        width: 37%;
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-210 .elementor-element.elementor-element-b38689d .elementor-divider {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-063590a {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 10px;
        --padding-top: 15px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-db0cf46.elementor-element {
        --align-self: center
    }

    .elementor-210 .elementor-element.elementor-element-3a90006 {
        text-align: center;
        width: var(--container-widget-width, 161.461px);
        max-width: 161.461px;
        --container-widget-width: 161.461px;
        --container-widget-flex-grow: 0
    }

    .elementor-210 .elementor-element.elementor-element-3a90006.elementor-element {
        --align-self: center
    }

    .elementor-210 .elementor-element.elementor-element-44870f3 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-d94ab9e {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-04f0b06 {
        --margin-top: 15px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-059e452 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-b1b092f {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-811378d {
        --gap: 0px;
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-3f6e932 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-ef6215f .elementor-divider-separator {
        width: 28%;
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-210 .elementor-element.elementor-element-ef6215f .elementor-divider {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(11px/2);
        margin-left: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-11px/2);
        margin-left: calc(-11px/2)
    }

    body.rtl .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-11px/2)
    }

    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-2be3c3e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-2be3c3e>.elementor-widget-container {
        margin: 15px 0 0
    }

    .elementor-210 .elementor-element.elementor-element-bbaddd1 {
        --gap: 0px;
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 40px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-6164c3e {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-a54f4b6 .elementor-divider-separator {
        width: 26%;
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-210 .elementor-element.elementor-element-a54f4b6 .elementor-divider {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(11px/2);
        margin-left: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-11px/2);
        margin-left: calc(-11px/2)
    }

    body.rtl .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-11px/2)
    }

    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-9eadc1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-9eadc1b>.elementor-widget-container {
        margin: 15px 0 0
    }

    .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(11px/2);
        margin-left: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-11px/2);
        margin-left: calc(-11px/2)
    }

    body.rtl .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-11px/2)
    }

    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-e7a2d4f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-e7a2d4f>.elementor-widget-container {
        margin: 8px 0 0
    }

    .elementor-210 .elementor-element.elementor-element-5d05c7b {
        --gap: 0px;
        --padding-top: 40px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px
    }

    .elementor-210 .elementor-element.elementor-element-bad8ef5 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-b20f23c .elementor-divider-separator {
        width: 46%;
        margin: 0 auto;
        margin-center: 0
    }

    .elementor-210 .elementor-element.elementor-element-b20f23c .elementor-divider {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-d19ef44 {
        --content-width: 500px;
        --e-con-grid-template-columns: repeat(2, 1fr);
        --e-con-grid-template-rows: repeat(1, 1fr);
        --gap: 0px 0px;
        --justify-items: center;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px
    }

    .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(11px/2);
        margin-left: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-11px/2);
        margin-left: calc(-11px/2)
    }

    body.rtl .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-11px/2)
    }

    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-987dc13 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(11px/2);
        margin-left: calc(11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-11px/2);
        margin-left: calc(-11px/2)
    }

    body.rtl .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-11px/2)
    }

    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-1bacbef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-11px/2)
    }

    .elementor-210 .elementor-element.elementor-element-ccd9820 {
        --e-con-grid-template-columns: repeat(2, 1fr);
        --e-con-grid-template-rows: repeat(1, 1fr);
        --gap: 0px 0px;
        --grid-auto-flow: row;
        --justify-items: center;
        --align-items: center;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 20px;
        --padding-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-ccd9820.e-con {
        --align-self: center
    }

    .elementor-210 .elementor-element.elementor-element-2ad73a8 {
        text-align: right
    }

    .elementor-210 .elementor-element.elementor-element-2ad73a8.elementor-element {
        --align-self: center
    }

    .elementor-210 .elementor-element.elementor-element-152cef9 .elementor-widget-container {
        text-align: left
    }

    .elementor-210 .elementor-element.elementor-element-152cef9 {
        --icon-size: 19px;
        --grid-column-gap: 0px;
        --grid-row-gap: 0px
    }

    .elementor-210 .elementor-element.elementor-element-152cef9 .elementor-social-icon {
        --icon-padding: 0.3em
    }

    .elementor-210 .elementor-element.elementor-element-19ece1a {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 20px;
        --padding-left: 0px
    }

    .elementor-210 .elementor-element.elementor-element-9f52574 {
        text-align: center
    }

    .elementor-210 .elementor-element.elementor-element-9f52574.elementor-element {
        --align-self: center
    }
}