.elementor-596 .elementor-element.elementor-element-eee89b8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-06b0cc8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-47a2315 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-596 .elementor-element.elementor-element-b1a425e {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-596 .elementor-element.elementor-element-b1a425e .elementor-divider-separator {
    width: 38%;
}

.elementor-596 .elementor-element.elementor-element-b1a425e .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-596 .elementor-element.elementor-element-32e6a58 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-596 .elementor-element.elementor-element-32e6a58>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-cfd3969 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-dc770c4 img {
    width: 53%;
}

.elementor-596 .elementor-element.elementor-element-c375143 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-2fa4ec2 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-2fa4ec2.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-27350c0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 15px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-2cb1217 {
    text-align: left;
    width: var(--container-widget-width, 22.387%);
    max-width: 22.387%;
    --container-widget-width: 22.387%;
    --container-widget-flex-grow: 0;
}

.elementor-596 .elementor-element.elementor-element-2cb1217 img {
    width: 100%;
}

.elementor-596 .elementor-element.elementor-element-2cb1217.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-69954c4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-69954c4>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-69954c4.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-5201e67 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-5201e67>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-bc12eb5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-b0be1eb {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-a993997 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 15px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-4f8e0ed {
    text-align: left;
    width: var(--container-widget-width, 22.387%);
    max-width: 22.387%;
    --container-widget-width: 22.387%;
    --container-widget-flex-grow: 0;
}

.elementor-596 .elementor-element.elementor-element-4f8e0ed img {
    width: 100%;
}

.elementor-596 .elementor-element.elementor-element-4f8e0ed.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-4e04dd5 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-4e04dd5>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-4e04dd5.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-3063384 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-3063384>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-99e0f4c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-42d76cd {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-42d76cd.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-b7f91c1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 15px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-9b1db89 {
    text-align: left;
    width: var(--container-widget-width, 22.387%);
    max-width: 22.387%;
    --container-widget-width: 22.387%;
    --container-widget-flex-grow: 0;
}

.elementor-596 .elementor-element.elementor-element-9b1db89 img {
    width: 100%;
}

.elementor-596 .elementor-element.elementor-element-9b1db89.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-82d0135 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-82d0135>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-82d0135.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-21ebb96 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-21ebb96>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-b4c09cd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-777d5df {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-1531caf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 15px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-46848d6 {
    text-align: left;
    width: var(--container-widget-width, 22.387%);
    max-width: 22.387%;
    --container-widget-width: 22.387%;
    --container-widget-flex-grow: 0;
}

.elementor-596 .elementor-element.elementor-element-46848d6 img {
    width: 100%;
}

.elementor-596 .elementor-element.elementor-element-46848d6.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-f6fb5cf .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-f6fb5cf>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-f6fb5cf.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-57e3d79 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-57e3d79>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-dae8025 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-dae8025:not(.elementor-motion-effects-element-type-background),
.elementor-596 .elementor-element.elementor-element-dae8025>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-596 .elementor-element.elementor-element-dae8025,
.elementor-596 .elementor-element.elementor-element-dae8025::before {
    --border-transition: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-035f8d2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-596 .elementor-element.elementor-element-a332fef .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-596 .elementor-element.elementor-element-f49620a {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-596 .elementor-element.elementor-element-f49620a .elementor-divider-separator {
    width: 38%;
}

.elementor-596 .elementor-element.elementor-element-f49620a .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-596 .elementor-element.elementor-element-e989037 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-e989037>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-44d4a0b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-9012867 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-5db0811 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-8547a49 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-8547a49>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-176fa50 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-176fa50:not(.elementor-motion-effects-element-type-background),
.elementor-596 .elementor-element.elementor-element-176fa50>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-596 .elementor-element.elementor-element-176fa50,
.elementor-596 .elementor-element.elementor-element-176fa50::before {
    --border-transition: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-5ff6c4b {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-5ff6c4b.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-af448fc .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-d9d64a5 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-d9d64a5>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-54c47c4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-bb24266 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-596 .elementor-element.elementor-element-9188c0f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-7683a8b {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-7683a8b>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-d3d79b8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 75px;
    --padding-left: 30px;
}

.elementor-596 .elementor-element.elementor-element-eeef9d1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 70px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-c6cfd3f {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-c6cfd3f.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-6cd8588 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 55px;
}

.elementor-596 .elementor-element.elementor-element-0863074 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-3e25f2b {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-3e25f2b>.elementor-widget-container {
    margin: 8px 0px -15px 0px;
}

.elementor-596 .elementor-element.elementor-element-216914c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-1869f31 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-1869f31.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-d0533fd .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-66e89dc {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-66e89dc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-e156b2a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-596 .elementor-element.elementor-element-e156b2a.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-f22bab4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-17b25f1 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-17b25f1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-1341b2f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 25px;
    --margin-right: 0px;
    --margin-bottom: 50px;
    --margin-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-8e7dae4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-8e7dae4.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-d7f17e9 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-45ab10f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-45ab10f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-e26f8e9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-596 .elementor-element.elementor-element-e26f8e9.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-2bd4691 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-596 .elementor-element.elementor-element-ab4abda {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-ab4abda>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-fdab3e1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-fdab3e1:not(.elementor-motion-effects-element-type-background),
.elementor-596 .elementor-element.elementor-element-fdab3e1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-596 .elementor-element.elementor-element-fdab3e1,
.elementor-596 .elementor-element.elementor-element-fdab3e1::before {
    --border-transition: 0.3s;
}

.elementor-596 .elementor-element.elementor-element-4fd2a2e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-596 .elementor-element.elementor-element-4fd2a2e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-596 .elementor-element.elementor-element-6826f5b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-376af82 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-15028ca {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-d1e899d {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-488a2c8 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-596 .elementor-element.elementor-element-c1a1301 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-596 .elementor-element.elementor-element-ef45115 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-596 .elementor-element.elementor-element-5a9d2ce {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-596 .elementor-element.elementor-element-5a9d2ce>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-596 .elementor-element.elementor-element-9c98f25 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-596 .elementor-element.elementor-element-9c98f25>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-596 .elementor-element.elementor-element-06b0cc8 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-cfd3969 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-2fa4ec2 {
        --width: 49.985%;
    }

    .elementor-596 .elementor-element.elementor-element-bc12eb5 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-42d76cd {
        --width: 49.985%;
    }

    .elementor-596 .elementor-element.elementor-element-b4c09cd {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-035f8d2 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-44d4a0b {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-5ff6c4b {
        --width: 49.985%;
    }

    .elementor-596 .elementor-element.elementor-element-54c47c4 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-c6cfd3f {
        --width: 49.153%;
    }

    .elementor-596 .elementor-element.elementor-element-1869f31 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-e156b2a {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-8e7dae4 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-e26f8e9 {
        --width: 50%;
    }

    .elementor-596 .elementor-element.elementor-element-4fd2a2e {
        --width: 58.612%;
    }

    .elementor-596 .elementor-element.elementor-element-c1a1301 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-596 .elementor-element.elementor-element-eee89b8 {
        --padding-top: 50px;
        --padding-right: 10px;
        --padding-bottom: 0px;
        --padding-left: 10px;
    }

    .elementor-596 .elementor-element.elementor-element-47a2315 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-596 .elementor-element.elementor-element-b1a425e .elementor-divider {
        text-align: left;
    }

    .elementor-596 .elementor-element.elementor-element-b1a425e .elementor-divider-separator {
        margin: 0 auto;
        margin-left: 0;
    }

    .elementor-596 .elementor-element.elementor-element-32e6a58>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-c375143 {
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-2fa4ec2 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-2cb1217 {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-2cb1217 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-2cb1217>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-2cb1217.elementor-element {
        --align-self: center;
    }

    .elementor-596 .elementor-element.elementor-element-69954c4 .elementor-heading-title {
        font-size: 18px;
        letter-spacing: -0.5px;
    }

    .elementor-596 .elementor-element.elementor-element-69954c4 {
        width: var(--container-widget-width, 219.758px);
        max-width: 219.758px;
        --container-widget-width: 219.758px;
        --container-widget-flex-grow: 0;
    }

    .elementor-596 .elementor-element.elementor-element-b0be1eb {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-a993997 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-4f8e0ed {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-4f8e0ed img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-4f8e0ed>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-4f8e0ed.elementor-element {
        --align-self: center;
    }

    .elementor-596 .elementor-element.elementor-element-4e04dd5 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-596 .elementor-element.elementor-element-4e04dd5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-4e04dd5 {
        width: var(--container-widget-width, 218.938px);
        max-width: 218.938px;
        --container-widget-width: 218.938px;
        --container-widget-flex-grow: 0;
    }

    .elementor-596 .elementor-element.elementor-element-99e0f4c {
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-42d76cd {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-9b1db89 {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-9b1db89 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-9b1db89>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-9b1db89.elementor-element {
        --align-self: center;
    }

    .elementor-596 .elementor-element.elementor-element-82d0135 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-596 .elementor-element.elementor-element-82d0135>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-82d0135 {
        width: var(--container-widget-width, 218.938px);
        max-width: 218.938px;
        --container-widget-width: 218.938px;
        --container-widget-flex-grow: 0;
    }

    .elementor-596 .elementor-element.elementor-element-777d5df {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-46848d6 {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-46848d6 img {
        width: 100%;
    }

    .elementor-596 .elementor-element.elementor-element-46848d6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-46848d6.elementor-element {
        --align-self: center;
    }

    .elementor-596 .elementor-element.elementor-element-f6fb5cf .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-596 .elementor-element.elementor-element-f6fb5cf>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-f6fb5cf {
        width: var(--container-widget-width, 218.938px);
        max-width: 218.938px;
        --container-widget-width: 218.938px;
        --container-widget-flex-grow: 0;
    }

    .elementor-596 .elementor-element.elementor-element-dae8025 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-035f8d2 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-a332fef {
        text-align: left;
    }

    .elementor-596 .elementor-element.elementor-element-a332fef .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-596 .elementor-element.elementor-element-f49620a .elementor-divider {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-f49620a .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-596 .elementor-element.elementor-element-44d4a0b {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-9012867 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-5db0811>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-176fa50 {
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-5ff6c4b {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-bb24266 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-d3d79b8 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-eeef9d1 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-6cd8588 .elementor-heading-title {
        font-size: 29px;
        line-height: 1.1em;
    }

    .elementor-596 .elementor-element.elementor-element-0863074 {
        --gap: 12px;
        --margin-top: 25px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-3e25f2b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-596 .elementor-element.elementor-element-216914c {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-1869f31 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-e156b2a {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-1341b2f {
        --margin-top: 20px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-8e7dae4 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-e26f8e9 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-fdab3e1 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-596 .elementor-element.elementor-element-4fd2a2e {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-c1a1301 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-596 .elementor-element.elementor-element-ef45115 {
        text-align: center;
    }

    .elementor-596 .elementor-element.elementor-element-ef45115 .elementor-heading-title {
        font-size: 30px;
    }
}