.elementor-381 .elementor-element.elementor-element-e49a099 {
    --display: flex;
    --min-height: 74vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 45px;
}

.elementor-381 .elementor-element.elementor-element-e49a099:not(.elementor-motion-effects-element-type-background),
.elementor-381 .elementor-element.elementor-element-e49a099>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/08/Custom-Software-Development-A.jpg");
    background-position: bottom center;
    background-size: cover;
}

.elementor-381 .elementor-element.elementor-element-e49a099,
.elementor-381 .elementor-element.elementor-element-e49a099::before {
    --border-transition: 0.3s;
}

.elementor-381 .elementor-element.elementor-element-2663009 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-381 .elementor-element.elementor-element-a42494c .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-381 .elementor-element.elementor-element-a021ec4 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-381 .elementor-element.elementor-element-a021ec4>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-f073325 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-381 .elementor-element.elementor-element-4f8bb60 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-381 .elementor-element.elementor-element-01eb2b8 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-381 .elementor-element.elementor-element-100606b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-381 .elementor-element.elementor-element-100606b>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-5c1dc69 {
    --divider-border-style: solid;
    --divider-color: #BBBBBB;
    --divider-border-width: 1px;
}

.elementor-381 .elementor-element.elementor-element-5c1dc69 .elementor-divider-separator {
    width: 100%;
}

.elementor-381 .elementor-element.elementor-element-5c1dc69 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-381 .elementor-element.elementor-element-46b43c9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-03fce63 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-381 .elementor-element.elementor-element-63651e4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-381 .elementor-element.elementor-element-11d5bce {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-381 .elementor-element.elementor-element-11d5bce .elementor-divider-separator {
    width: 38%;
}

.elementor-381 .elementor-element.elementor-element-11d5bce .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-381 .elementor-element.elementor-element-5d0dc25 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-5d0dc25>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-6d227c4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-6acbd0b {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-381 .elementor-element.elementor-element-9bf0013 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-381 .elementor-element.elementor-element-e16ffc2 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-e16ffc2>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-a910d99 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-cc3f78c {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-381 .elementor-element.elementor-element-cc3f78c.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-381 .elementor-element.elementor-element-c249134 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-381 .elementor-element.elementor-element-aaee374 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-aaee374>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-424d125 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-29af3d8 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-381 .elementor-element.elementor-element-4ab8d84 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-381 .elementor-element.elementor-element-ae0cf79 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-ae0cf79>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-d2c1b58 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-89bce7c {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-381 .elementor-element.elementor-element-89bce7c.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-381 .elementor-element.elementor-element-aa1f79e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-381 .elementor-element.elementor-element-7468bea {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-7468bea>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-e024f6a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-6ff070c {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-381 .elementor-element.elementor-element-50883bb .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-381 .elementor-element.elementor-element-a8eab52 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-a8eab52>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-59455ee {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
    --margin-top: 75px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-b69d5bc {
    --display: flex;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 40px;
}

.elementor-381 .elementor-element.elementor-element-4032f15 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-381 .elementor-element.elementor-element-4032f15>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-f27b3a0 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-381 .elementor-element.elementor-element-f27b3a0 .elementor-divider-separator {
    width: 10%;
}

.elementor-381 .elementor-element.elementor-element-f27b3a0 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-381 .elementor-element.elementor-element-c2bb8ee {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-c2bb8ee>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-75c45d3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 75px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-381 .elementor-element.elementor-element-9485859 {
    --e-image-carousel-slides-to-show: 6;
}

.elementor-381 .elementor-element.elementor-element-9485859 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-381 .elementor-element.elementor-element-e42fd2f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-e42fd2f:not(.elementor-motion-effects-element-type-background),
.elementor-381 .elementor-element.elementor-element-e42fd2f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-381 .elementor-element.elementor-element-e42fd2f,
.elementor-381 .elementor-element.elementor-element-e42fd2f::before {
    --border-transition: 0.3s;
}

.elementor-381 .elementor-element.elementor-element-da69735 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-381 .elementor-element.elementor-element-da69735.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-381 .elementor-element.elementor-element-d3c715d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-9b5f6b2 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-e9f0e6a {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-33412e0 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-5883697 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-381 .elementor-element.elementor-element-53cf116 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-381 .elementor-element.elementor-element-b99ca4a .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-381 .elementor-element.elementor-element-51bc2d7 {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-381 .elementor-element.elementor-element-51bc2d7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-381 .elementor-element.elementor-element-ca77bc4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-381 .elementor-element.elementor-element-03fce63 {
        --width: 50%;
    }

    .elementor-381 .elementor-element.elementor-element-6d227c4 {
        --width: 50%;
    }

    .elementor-381 .elementor-element.elementor-element-cc3f78c {
        --width: 49.985%;
    }

    .elementor-381 .elementor-element.elementor-element-424d125 {
        --width: 50%;
    }

    .elementor-381 .elementor-element.elementor-element-89bce7c {
        --width: 49.985%;
    }

    .elementor-381 .elementor-element.elementor-element-e024f6a {
        --width: 50%;
    }

    .elementor-381 .elementor-element.elementor-element-da69735 {
        --width: 58.612%;
    }

    .elementor-381 .elementor-element.elementor-element-53cf116 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-381 .elementor-element.elementor-element-e49a099 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-a42494c .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-381 .elementor-element.elementor-element-a021ec4>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-f073325 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-4f8bb60 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 30px;
        --padding-right: 10px;
        --padding-bottom: 30px;
        --padding-left: 10px;
    }

    .elementor-381 .elementor-element.elementor-element-01eb2b8 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-381 .elementor-element.elementor-element-100606b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-381 .elementor-element.elementor-element-46b43c9 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-03fce63 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-63651e4 {
        text-align: center;
    }

    .elementor-381 .elementor-element.elementor-element-63651e4 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-381 .elementor-element.elementor-element-11d5bce .elementor-divider {
        text-align: center;
    }

    .elementor-381 .elementor-element.elementor-element-11d5bce .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-381 .elementor-element.elementor-element-6acbd0b {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-cc3f78c {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-29af3d8 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-89bce7c {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-6ff070c {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-4032f15 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-381 .elementor-element.elementor-element-f27b3a0 .elementor-divider {
        text-align: center;
    }

    .elementor-381 .elementor-element.elementor-element-f27b3a0 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-381 .elementor-element.elementor-element-9485859 {
        --e-image-carousel-slides-to-show: 2;
    }

    .elementor-381 .elementor-element.elementor-element-e42fd2f {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-381 .elementor-element.elementor-element-da69735 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-53cf116 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-381 .elementor-element.elementor-element-b99ca4a {
        text-align: center;
    }

    .elementor-381 .elementor-element.elementor-element-b99ca4a .elementor-heading-title {
        font-size: 30px;
    }
}