.elementor-617 .elementor-element.elementor-element-77c04f2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-fb11da8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-2aadff4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-617 .elementor-element.elementor-element-60d5ed6 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-617 .elementor-element.elementor-element-60d5ed6 .elementor-divider-separator {
    width: 38%;
}

.elementor-617 .elementor-element.elementor-element-60d5ed6 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-617 .elementor-element.elementor-element-3a4304e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-617 .elementor-element.elementor-element-3a4304e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-56de461 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-bb6fe5a img {
    width: 46%;
}

.elementor-617 .elementor-element.elementor-element-533238a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 23px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-b42a970 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-1234dfe {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-fee888b {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-617 .elementor-element.elementor-element-fee888b img {
    width: 100%;
}

.elementor-617 .elementor-element.elementor-element-fee888b.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-fcf9222 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-fcf9222>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-051ff60 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-051ff60>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-3e82ff8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-a131513 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-7f7f4bc {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-617 .elementor-element.elementor-element-7f7f4bc img {
    width: 100%;
}

.elementor-617 .elementor-element.elementor-element-7f7f4bc.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-ff51004 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-ff51004>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-bda45e7 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-bda45e7>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-a39a0fc {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-da43d98 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-7511021 {
    text-align: left;
    width: var(--container-widget-width, 27.218%);
    max-width: 27.218%;
    --container-widget-width: 27.218%;
    --container-widget-flex-grow: 0;
}

.elementor-617 .elementor-element.elementor-element-7511021 img {
    width: 100%;
}

.elementor-617 .elementor-element.elementor-element-7511021.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-f6facab .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-f6facab>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-c11c268 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-c11c268>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-96d03a9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 50px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-96d03a9:not(.elementor-motion-effects-element-type-background),
.elementor-617 .elementor-element.elementor-element-96d03a9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-617 .elementor-element.elementor-element-96d03a9,
.elementor-617 .elementor-element.elementor-element-96d03a9::before {
    --border-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-9f21062 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-617 .elementor-element.elementor-element-28a5964 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-617 .elementor-element.elementor-element-b12e700 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-617 .elementor-element.elementor-element-b12e700 .elementor-divider-separator {
    width: 38%;
}

.elementor-617 .elementor-element.elementor-element-b12e700 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-617 .elementor-element.elementor-element-c68dd8b {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-c68dd8b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-e80bb53 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-3723663 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-14e38f9 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-2dffb61 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-2dffb61>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-f5d312f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-f5d312f:not(.elementor-motion-effects-element-type-background),
.elementor-617 .elementor-element.elementor-element-f5d312f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-617 .elementor-element.elementor-element-f5d312f,
.elementor-617 .elementor-element.elementor-element-f5d312f::before {
    --border-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-ecc1ef7 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-ecc1ef7.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-c6cb75b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-d4a521f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-d4a521f>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-f5b103c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-a8d8431 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-9542199 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-c4a85bf {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-c4a85bf>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-372ae7a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-44ea2cd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-617 .elementor-element.elementor-element-9dc9d1d .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-617 .elementor-element.elementor-element-4acfc92 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-617 .elementor-element.elementor-element-4acfc92 .elementor-divider-separator {
    width: 38%;
}

.elementor-617 .elementor-element.elementor-element-4acfc92 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-617 .elementor-element.elementor-element-5d172b1 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-5d172b1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-2c8a7e7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-4702846 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-37d392b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-4026046 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-4026046>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-55419aa {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-7450f86 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-7450f86.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-c1cdcfc .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-4fb1b7f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-4fb1b7f>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-e3dd28d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-313fe93 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-7cf3c55 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-4d8d980 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-4d8d980>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-decceed {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-2756a60 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-2756a60.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-698a532 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-274684d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-274684d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-0252769 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-73740ea {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-617 .elementor-element.elementor-element-b20d478 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-617 .elementor-element.elementor-element-9c6a06b {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-9c6a06b>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-852f6b5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-852f6b5:not(.elementor-motion-effects-element-type-background),
.elementor-617 .elementor-element.elementor-element-852f6b5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-617 .elementor-element.elementor-element-852f6b5,
.elementor-617 .elementor-element.elementor-element-852f6b5::before {
    --border-transition: 0.3s;
}

.elementor-617 .elementor-element.elementor-element-ae62cac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-617 .elementor-element.elementor-element-ae62cac.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-617 .elementor-element.elementor-element-4c8bb6c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-1507c7e {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-9d1f842 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-1ade0c6 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-f555fbb {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-617 .elementor-element.elementor-element-5802155 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-617 .elementor-element.elementor-element-8b8bc7a .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-617 .elementor-element.elementor-element-00a92fa {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-617 .elementor-element.elementor-element-00a92fa>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-617 .elementor-element.elementor-element-56e455b .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-617 .elementor-element.elementor-element-56e455b .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-617 .elementor-element.elementor-element-56e455b .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-617 .elementor-element.elementor-element-56e455b .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-617 .elementor-element.elementor-element-56e455b {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-617 .elementor-element.elementor-element-56e455b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-617 .elementor-element.elementor-element-fb11da8 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-56de461 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-b42a970 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-3e82ff8 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-a39a0fc {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-9f21062 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-e80bb53 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-ecc1ef7 {
        --width: 49.985%;
    }

    .elementor-617 .elementor-element.elementor-element-f5b103c {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-44ea2cd {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-2c8a7e7 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-7450f86 {
        --width: 49.985%;
    }

    .elementor-617 .elementor-element.elementor-element-e3dd28d {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-2756a60 {
        --width: 49.985%;
    }

    .elementor-617 .elementor-element.elementor-element-0252769 {
        --width: 50%;
    }

    .elementor-617 .elementor-element.elementor-element-ae62cac {
        --width: 58.612%;
    }

    .elementor-617 .elementor-element.elementor-element-5802155 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-617 .elementor-element.elementor-element-77c04f2 {
        --padding-top: 50px;
        --padding-right: 10px;
        --padding-bottom: 0px;
        --padding-left: 10px;
    }

    .elementor-617 .elementor-element.elementor-element-2aadff4 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-617 .elementor-element.elementor-element-60d5ed6 .elementor-divider {
        text-align: left;
    }

    .elementor-617 .elementor-element.elementor-element-60d5ed6 .elementor-divider-separator {
        margin: 0 auto;
        margin-left: 0;
    }

    .elementor-617 .elementor-element.elementor-element-3a4304e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-617 .elementor-element.elementor-element-fee888b {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-fee888b img {
        width: 100%;
    }

    .elementor-617 .elementor-element.elementor-element-fee888b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-617 .elementor-element.elementor-element-fee888b.elementor-element {
        --align-self: center;
    }

    .elementor-617 .elementor-element.elementor-element-7f7f4bc {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-7f7f4bc img {
        width: 100%;
    }

    .elementor-617 .elementor-element.elementor-element-7f7f4bc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-617 .elementor-element.elementor-element-7f7f4bc.elementor-element {
        --align-self: center;
    }

    .elementor-617 .elementor-element.elementor-element-7511021 {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-7511021 img {
        width: 100%;
    }

    .elementor-617 .elementor-element.elementor-element-7511021>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-617 .elementor-element.elementor-element-7511021.elementor-element {
        --align-self: center;
    }

    .elementor-617 .elementor-element.elementor-element-96d03a9 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
    }

    .elementor-617 .elementor-element.elementor-element-9f21062 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-28a5964 {
        text-align: left;
    }

    .elementor-617 .elementor-element.elementor-element-28a5964 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-617 .elementor-element.elementor-element-b12e700 .elementor-divider {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-b12e700 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-617 .elementor-element.elementor-element-e80bb53 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-3723663 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-14e38f9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-617 .elementor-element.elementor-element-f5d312f {
        --padding-top: 0px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-617 .elementor-element.elementor-element-ecc1ef7 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-a8d8431 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-372ae7a {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-44ea2cd {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-9dc9d1d {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-9dc9d1d .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-617 .elementor-element.elementor-element-4acfc92 .elementor-divider {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-4acfc92 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-617 .elementor-element.elementor-element-4702846 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-7450f86 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-313fe93 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-2756a60 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-73740ea {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-852f6b5 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-617 .elementor-element.elementor-element-ae62cac {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-5802155 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-617 .elementor-element.elementor-element-8b8bc7a {
        text-align: center;
    }

    .elementor-617 .elementor-element.elementor-element-8b8bc7a .elementor-heading-title {
        font-size: 30px;
    }
}