.elementor-179 .elementor-element.elementor-element-456325a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-179 .elementor-element.elementor-element-5e66b74 {
    text-align: left;
}

.elementor-179 .elementor-element.elementor-element-5e66b74 img {
    width: 72%;
}

.elementor-179 .elementor-element.elementor-element-0b436dd {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}