.elementor-391 .elementor-element.elementor-element-7a40203 {
    --display: flex;
    --min-height: 74vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 45px;
}

.elementor-391 .elementor-element.elementor-element-7a40203:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-7a40203>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("../../2023/08/Frontend-Backend-Development-A.jpg");
    background-position: bottom center;
    background-size: cover;
}

.elementor-391 .elementor-element.elementor-element-7a40203,
.elementor-391 .elementor-element.elementor-element-7a40203::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-b064813 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-3ebcafe .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-391 .elementor-element.elementor-element-47920d9 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-391 .elementor-element.elementor-element-47920d9>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-ad062b3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-82e92b1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-f486068 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-391 .elementor-element.elementor-element-8c41bdf .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-391 .elementor-element.elementor-element-8c41bdf>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-436e547 {
    --divider-border-style: solid;
    --divider-color: #BBBBBB;
    --divider-border-width: 1px;
}

.elementor-391 .elementor-element.elementor-element-436e547 .elementor-divider-separator {
    width: 100%;
}

.elementor-391 .elementor-element.elementor-element-436e547 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-391 .elementor-element.elementor-element-d6517cb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-3cdecc8 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-3cdecc8.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-391 .elementor-element.elementor-element-95c59cf .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-452fa3d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-452fa3d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-5e598d1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-e30435f {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-caf5f2e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-57209af {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-57209af>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-dcdc954 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 75px;
    --padding-left: 30px;
}

.elementor-391 .elementor-element.elementor-element-dcdc954:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-dcdc954>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-391 .elementor-element.elementor-element-dcdc954,
.elementor-391 .elementor-element.elementor-element-dcdc954::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-832398e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 70px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-ec6f414 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-ec6f414:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-ec6f414>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-391 .elementor-element.elementor-element-ec6f414,
.elementor-391 .elementor-element.elementor-element-ec6f414::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-ec6f414.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-391 .elementor-element.elementor-element-2ba1d3b .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-391 .elementor-element.elementor-element-7ad06ba {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-7ad06ba:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-7ad06ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-391 .elementor-element.elementor-element-7ad06ba,
.elementor-391 .elementor-element.elementor-element-7ad06ba::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-6780b93 {
    text-align: left;
}

.elementor-391 .elementor-element.elementor-element-6780b93 img {
    width: 55%;
}

.elementor-391 .elementor-element.elementor-element-8f064a8 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-8f064a8>.elementor-widget-container {
    margin: 13px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-a60c037 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-a60c037>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-889aea3 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-889aea3:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-889aea3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-391 .elementor-element.elementor-element-889aea3,
.elementor-391 .elementor-element.elementor-element-889aea3::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-dfec821 {
    text-align: left;
}

.elementor-391 .elementor-element.elementor-element-dfec821 img {
    width: 55%;
}

.elementor-391 .elementor-element.elementor-element-88c7e1b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-88c7e1b>.elementor-widget-container {
    margin: 13px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-bae9f7d {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-bae9f7d>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-b3fdde7 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-b3fdde7:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-b3fdde7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-391 .elementor-element.elementor-element-b3fdde7,
.elementor-391 .elementor-element.elementor-element-b3fdde7::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-0f5c35a {
    text-align: left;
}

.elementor-391 .elementor-element.elementor-element-0f5c35a img {
    width: 55%;
}

.elementor-391 .elementor-element.elementor-element-b802980 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-b802980>.elementor-widget-container {
    margin: 13px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-d22a7ec {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-d22a7ec>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-adab56c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-c89e69a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-391 .elementor-element.elementor-element-2f10c69 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-391 .elementor-element.elementor-element-8b62cad {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-391 .elementor-element.elementor-element-8b62cad .elementor-divider-separator {
    width: 38%;
}

.elementor-391 .elementor-element.elementor-element-8b62cad .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-391 .elementor-element.elementor-element-55a84fe {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-55a84fe>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-803376b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-bade9cd {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-c17879f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-037924f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-037924f>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-b1e9ff3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-be99744 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-be99744.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-391 .elementor-element.elementor-element-564710b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-7682e33 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-7682e33>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-2e32ac1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-5149161 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-7aa6740 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-de0301e {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-de0301e>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-c0b8042 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-142771b {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-142771b.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-391 .elementor-element.elementor-element-62efb96 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-1ebbf8d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-1ebbf8d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-eb4d892 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-fe20481 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-391 .elementor-element.elementor-element-99bf5b1 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-391 .elementor-element.elementor-element-9bc221f {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-9bc221f>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-2629cb2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-2629cb2:not(.elementor-motion-effects-element-type-background),
.elementor-391 .elementor-element.elementor-element-2629cb2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-391 .elementor-element.elementor-element-2629cb2,
.elementor-391 .elementor-element.elementor-element-2629cb2::before {
    --border-transition: 0.3s;
}

.elementor-391 .elementor-element.elementor-element-0f7c450 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-391 .elementor-element.elementor-element-0f7c450.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-391 .elementor-element.elementor-element-e2fb9f9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-dac9e06 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-10a9e8b {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-88d67a7 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-4b2820f {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-391 .elementor-element.elementor-element-496e427 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-391 .elementor-element.elementor-element-021d6ae .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-391 .elementor-element.elementor-element-8a2ba18 {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-391 .elementor-element.elementor-element-8a2ba18>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-391 .elementor-element.elementor-element-0a9e390 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-391 .elementor-element.elementor-element-0a9e390>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-391 .elementor-element.elementor-element-3cdecc8 {
        --width: 49.985%;
    }

    .elementor-391 .elementor-element.elementor-element-5e598d1 {
        --width: 50%;
    }

    .elementor-391 .elementor-element.elementor-element-ec6f414 {
        --width: 47.838%;
    }

    .elementor-391 .elementor-element.elementor-element-c89e69a {
        --width: 50%;
    }

    .elementor-391 .elementor-element.elementor-element-803376b {
        --width: 50%;
    }

    .elementor-391 .elementor-element.elementor-element-be99744 {
        --width: 49.985%;
    }

    .elementor-391 .elementor-element.elementor-element-2e32ac1 {
        --width: 50%;
    }

    .elementor-391 .elementor-element.elementor-element-142771b {
        --width: 49.985%;
    }

    .elementor-391 .elementor-element.elementor-element-eb4d892 {
        --width: 50%;
    }

    .elementor-391 .elementor-element.elementor-element-0f7c450 {
        --width: 58.612%;
    }

    .elementor-391 .elementor-element.elementor-element-496e427 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-391 .elementor-element.elementor-element-7a40203 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-3ebcafe .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-391 .elementor-element.elementor-element-47920d9>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-ad062b3 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-82e92b1 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 30px;
        --padding-right: 10px;
        --padding-bottom: 30px;
        --padding-left: 10px;
    }

    .elementor-391 .elementor-element.elementor-element-f486068 .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-391 .elementor-element.elementor-element-8c41bdf>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-d6517cb {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-3cdecc8 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-e30435f {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-dcdc954 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-391 .elementor-element.elementor-element-832398e {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-2ba1d3b .elementor-heading-title {
        font-size: 29px;
        line-height: 1.1em;
    }

    .elementor-391 .elementor-element.elementor-element-7ad06ba {
        --gap: 12px;
        --margin-top: 25px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-6780b93 {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-6780b93 img {
        width: 100%;
    }

    .elementor-391 .elementor-element.elementor-element-6780b93>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-6780b93.elementor-element {
        --align-self: center;
    }

    .elementor-391 .elementor-element.elementor-element-a60c037>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-889aea3 {
        --gap: 12px;
    }

    .elementor-391 .elementor-element.elementor-element-dfec821 {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-dfec821 img {
        width: 100%;
    }

    .elementor-391 .elementor-element.elementor-element-dfec821>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-dfec821.elementor-element {
        --align-self: center;
    }

    .elementor-391 .elementor-element.elementor-element-bae9f7d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-b3fdde7 {
        --gap: 12px;
    }

    .elementor-391 .elementor-element.elementor-element-0f5c35a {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-0f5c35a img {
        width: 100%;
    }

    .elementor-391 .elementor-element.elementor-element-0f5c35a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-0f5c35a.elementor-element {
        --align-self: center;
    }

    .elementor-391 .elementor-element.elementor-element-d22a7ec>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-391 .elementor-element.elementor-element-adab56c {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-c89e69a {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-2f10c69 {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-2f10c69 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-391 .elementor-element.elementor-element-8b62cad .elementor-divider {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-8b62cad .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-391 .elementor-element.elementor-element-bade9cd {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-be99744 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-5149161 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-142771b {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-fe20481 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-2629cb2 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-391 .elementor-element.elementor-element-0f7c450 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-496e427 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-391 .elementor-element.elementor-element-021d6ae {
        text-align: center;
    }

    .elementor-391 .elementor-element.elementor-element-021d6ae .elementor-heading-title {
        font-size: 30px;
    }
}