.elementor-414 .elementor-element.elementor-element-e65492f {
    --display: flex;
    --min-height: 74vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 45px;
}

.elementor-414 .elementor-element.elementor-element-e65492f:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-e65492f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: var(--e-bg-lazyload-loaded);
    --e-bg-lazyload: url("../../2023/08/Mobile-Development-A.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-414 .elementor-element.elementor-element-e65492f,
.elementor-414 .elementor-element.elementor-element-e65492f::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-a33b7e1 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-9982e1b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-414 .elementor-element.elementor-element-e3ea0fb .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-414 .elementor-element.elementor-element-e3ea0fb>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-3643aad {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-f289529 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-26d9a8e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
}

.elementor-414 .elementor-element.elementor-element-59847b1 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-414 .elementor-element.elementor-element-59847b1>.elementor-widget-container {
    padding: 0px 750px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-36a4c69 {
    --divider-border-style: solid;
    --divider-color: #BBBBBB;
    --divider-border-width: 1px;
}

.elementor-414 .elementor-element.elementor-element-36a4c69 .elementor-divider-separator {
    width: 100%;
}

.elementor-414 .elementor-element.elementor-element-36a4c69 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-414 .elementor-element.elementor-element-15d9a75 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-2e06c6e {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-2e06c6e.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-414 .elementor-element.elementor-element-9ce7114 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-571d27c {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-571d27c>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-be4ca8e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-132915f {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-f80cf6a .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-0db407c {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-0db407c>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-5f289bd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 30px;
    --padding-bottom: 75px;
    --padding-left: 30px;
}

.elementor-414 .elementor-element.elementor-element-5f289bd:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-5f289bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-5f289bd,
.elementor-414 .elementor-element.elementor-element-5f289bd::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-0f92d98 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-414 .elementor-element.elementor-element-9cadb79 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 70px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-c2c258a {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-c2c258a:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-c2c258a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-c2c258a,
.elementor-414 .elementor-element.elementor-element-c2c258a::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-15bf269 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-5e540b1 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-5e540b1>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-2e0368c {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-2e0368c:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-2e0368c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-2e0368c,
.elementor-414 .elementor-element.elementor-element-2e0368c::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-2d29f6b img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-8da3171 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-8da3171>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-d2cd86e {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-d2cd86e:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-d2cd86e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-d2cd86e,
.elementor-414 .elementor-element.elementor-element-d2cd86e::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-a98f2fe img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-d145375 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-d145375>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-48ca0a6 {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-48ca0a6:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-48ca0a6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-48ca0a6,
.elementor-414 .elementor-element.elementor-element-48ca0a6::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-5092859 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-9212bb1 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-9212bb1>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-94e9bca {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-94e9bca:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-94e9bca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-94e9bca,
.elementor-414 .elementor-element.elementor-element-94e9bca::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-6bb210d img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-809c96f {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-809c96f>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-87ed14d {
    --display: flex;
    --justify-content: center;
    --gap: 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-87ed14d:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-87ed14d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-87ed14d,
.elementor-414 .elementor-element.elementor-element-87ed14d::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-49acae9 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-7f60dd6 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-7f60dd6>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-c878cf4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-c878cf4:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-c878cf4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-c878cf4,
.elementor-414 .elementor-element.elementor-element-c878cf4::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-cabdedb .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-414 .elementor-element.elementor-element-dddcb7b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-dddcb7b:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-dddcb7b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-dddcb7b,
.elementor-414 .elementor-element.elementor-element-dddcb7b::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-0d0bbc3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-0fc7b7b img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-0e4d9c1 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-0e4d9c1>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-17c2022 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-6c0610e img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-9050c9d {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-9050c9d>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-bac7faf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-bac7faf:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-bac7faf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-bac7faf,
.elementor-414 .elementor-element.elementor-element-bac7faf::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-17cd3c1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-b393c43 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-e4af948 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-e4af948>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-979e258 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-ded1035 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-b1d1a5f {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-b1d1a5f>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-5943580 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-5943580:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-5943580>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-414 .elementor-element.elementor-element-5943580,
.elementor-414 .elementor-element.elementor-element-5943580::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-bc420d0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-2a2f579 img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-ecb62ec {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-ecb62ec>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-58e4329 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-6dc153b img {
    width: 55%;
}

.elementor-414 .elementor-element.elementor-element-21c3402 {
    text-align: center;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-21c3402>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-1692002 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-7d0ea51 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 95px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-414 .elementor-element.elementor-element-d9b2856 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-414 .elementor-element.elementor-element-ec5f449 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-414 .elementor-element.elementor-element-ec5f449 .elementor-divider-separator {
    width: 38%;
}

.elementor-414 .elementor-element.elementor-element-ec5f449 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-414 .elementor-element.elementor-element-6de65eb {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-6de65eb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-5d8f1bb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-03e0b06 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-2dfa04e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-c0756fd {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-c0756fd>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-0f9c71e {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-414 .elementor-element.elementor-element-0f9c71e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-b87cfe6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-51479ae {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-51479ae.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-414 .elementor-element.elementor-element-c04aaa5 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-4cccafb {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-4cccafb>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-db428ae {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-414 .elementor-element.elementor-element-db428ae>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-74a095f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-b1ecad1 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-9ec048b .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-c24b67d {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-c24b67d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-6fa10d2 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-414 .elementor-element.elementor-element-6fa10d2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-a367c80 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-2e6bba8 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-2e6bba8.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-414 .elementor-element.elementor-element-0abf110 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-414 .elementor-element.elementor-element-ff28d1b {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-ff28d1b>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-f4b7fe0 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-414 .elementor-element.elementor-element-f4b7fe0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-22dce85 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: space-between;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-71d37d4 {
    --display: flex;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 35px;
    --padding-left: 20px;
}

.elementor-414 .elementor-element.elementor-element-f481765 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 8px;
    --background-transition: 0.3s;
    --margin-top: 75px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-5724e33 {
    --display: flex;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 40px;
}

.elementor-414 .elementor-element.elementor-element-74398da .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}

.elementor-414 .elementor-element.elementor-element-74398da>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-6eee449 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-accent);
    --divider-border-width: 2.5px;
}

.elementor-414 .elementor-element.elementor-element-6eee449 .elementor-divider-separator {
    width: 10%;
}

.elementor-414 .elementor-element.elementor-element-6eee449 .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-414 .elementor-element.elementor-element-af1e2f6 {
    text-align: justify;
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-af1e2f6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-ab6ed11 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 75px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 30px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-414 .elementor-element.elementor-element-bd7eed3 {
    --e-image-carousel-slides-to-show: 6;
}

.elementor-414 .elementor-element.elementor-element-bd7eed3 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-414 .elementor-element.elementor-element-cb5c0cd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --margin-top: 50px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 75px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-cb5c0cd:not(.elementor-motion-effects-element-type-background),
.elementor-414 .elementor-element.elementor-element-cb5c0cd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-414 .elementor-element.elementor-element-cb5c0cd,
.elementor-414 .elementor-element.elementor-element-cb5c0cd::before {
    --border-transition: 0.3s;
}

.elementor-414 .elementor-element.elementor-element-5c576a2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 10px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
}

.elementor-414 .elementor-element.elementor-element-5c576a2.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-414 .elementor-element.elementor-element-5726878 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-4684ee9 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-689b92c {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-9d892fa {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-40106af {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-414 .elementor-element.elementor-element-3a48b68 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 8px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 91px;
}

.elementor-414 .elementor-element.elementor-element-03bbbc0 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
}

.elementor-414 .elementor-element.elementor-element-eb9655a {
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-414 .elementor-element.elementor-element-eb9655a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-414 .elementor-element.elementor-element-f3df523 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-414 .elementor-element.elementor-element-f3df523 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-414 .elementor-element.elementor-element-f3df523 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-414 .elementor-element.elementor-element-f3df523 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-414 .elementor-element.elementor-element-f3df523>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-414 .elementor-element.elementor-element-2e06c6e {
        --width: 49.985%;
    }

    .elementor-414 .elementor-element.elementor-element-be4ca8e {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-0d0bbc3 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-17c2022 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-17cd3c1 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-979e258 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-bc420d0 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-58e4329 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-7d0ea51 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-5d8f1bb {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-51479ae {
        --width: 49.985%;
    }

    .elementor-414 .elementor-element.elementor-element-74a095f {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-2e6bba8 {
        --width: 49.985%;
    }

    .elementor-414 .elementor-element.elementor-element-22dce85 {
        --width: 50%;
    }

    .elementor-414 .elementor-element.elementor-element-5c576a2 {
        --width: 58.612%;
    }

    .elementor-414 .elementor-element.elementor-element-3a48b68 {
        --width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-414 .elementor-element.elementor-element-e65492f {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-9982e1b .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-414 .elementor-element.elementor-element-e3ea0fb>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-3643aad {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-f289529 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 30px;
        --padding-right: 10px;
        --padding-bottom: 30px;
        --padding-left: 10px;
    }

    .elementor-414 .elementor-element.elementor-element-26d9a8e .elementor-heading-title {
        font-size: 39px;
        line-height: 1.1em;
    }

    .elementor-414 .elementor-element.elementor-element-59847b1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-15d9a75 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-2e06c6e {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-132915f {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-5f289bd {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-414 .elementor-element.elementor-element-0f92d98 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-414 .elementor-element.elementor-element-c2c258a {
        --gap: 12px;
    }

    .elementor-414 .elementor-element.elementor-element-15bf269 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-15bf269 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-15bf269>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-15bf269.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-5e540b1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-2d29f6b {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-2d29f6b img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-2d29f6b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-2d29f6b.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-a98f2fe {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-a98f2fe img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-a98f2fe>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-a98f2fe.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-5092859 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-5092859 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-5092859>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-5092859.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-6bb210d {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-6bb210d img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-6bb210d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-6bb210d.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-49acae9 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-49acae9 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-49acae9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-49acae9.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-c878cf4 {
        --padding-top: 55px;
        --padding-right: 10px;
        --padding-bottom: 35px;
        --padding-left: 10px;
    }

    .elementor-414 .elementor-element.elementor-element-cabdedb .elementor-heading-title {
        font-size: 23px;
        line-height: 1.3em;
    }

    .elementor-414 .elementor-element.elementor-element-0d0bbc3 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-0fc7b7b {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-0fc7b7b img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-0fc7b7b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-0fc7b7b.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-17c2022 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-6c0610e {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-6c0610e img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-6c0610e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-6c0610e.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-17cd3c1 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-b393c43 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-b393c43 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-b393c43>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-b393c43.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-979e258 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-ded1035 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-ded1035 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-ded1035>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-ded1035.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-bc420d0 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-2a2f579 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-2a2f579 img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-2a2f579>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-2a2f579.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-58e4329 {
        --width: 50%;
        --gap: 8px;
    }

    .elementor-414 .elementor-element.elementor-element-6dc153b {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-6dc153b img {
        width: 100%;
    }

    .elementor-414 .elementor-element.elementor-element-6dc153b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-414 .elementor-element.elementor-element-6dc153b.elementor-element {
        --align-self: center;
    }

    .elementor-414 .elementor-element.elementor-element-1692002 {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-7d0ea51 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-d9b2856 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-d9b2856 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-414 .elementor-element.elementor-element-ec5f449 .elementor-divider {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-ec5f449 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-414 .elementor-element.elementor-element-03e0b06 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-51479ae {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-b1ecad1 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-2e6bba8 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-71d37d4 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-74398da .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-414 .elementor-element.elementor-element-6eee449 .elementor-divider {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-6eee449 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-414 .elementor-element.elementor-element-bd7eed3 {
        --e-image-carousel-slides-to-show: 2;
    }

    .elementor-414 .elementor-element.elementor-element-cb5c0cd {
        --margin-top: 50px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 35px;
        --padding-right: 20px;
        --padding-bottom: 35px;
        --padding-left: 20px;
    }

    .elementor-414 .elementor-element.elementor-element-5c576a2 {
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-3a48b68 {
        --margin-top: 30px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-414 .elementor-element.elementor-element-03bbbc0 {
        text-align: center;
    }

    .elementor-414 .elementor-element.elementor-element-03bbbc0 .elementor-heading-title {
        font-size: 30px;
    }
}