.elementor-11 .elementor-element.elementor-element-5dbf152 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --z-index: 10
}

.elementor-11 .elementor-element.elementor-element-c8a3795 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s
}

.elementor-11 .elementor-element.elementor-element-c8a3795.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-11 .elementor-element.elementor-element-d9b65a9 {
    text-align: left
}

.elementor-11 .elementor-element.elementor-element-d9b65a9 img {
    width: 65%
}

.elementor-11 .elementor-element.elementor-element-1723c30 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --background-transition: 0.3s
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-container {
    height: 37px;
    max-width: 700px;
    border-radius: 0 0 0 0
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-nav-identity-panel {
    padding: 0
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav li a .ekit-menu-icon {
    padding: 0
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 0 15px
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:hover {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:focus {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:active {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li:hover>a {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li.current-menu-item>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: #000
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    padding: 15px;
    color: #000
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: #707070 !important
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-submenu-panel {
    padding: 15px 0
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-style: solid;
    border-radius: 0 0 0 0;
    min-width: 220px
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger {
    float: right
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger>.ekit-menu-icon {
    color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-close {
    color: #333
}

.elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-close:hover {
    color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-5b61330>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-11 .elementor-element.elementor-element-c59db93 .elementor-button {
    font-family: poppins, Sans-serif;
    font-weight: 600;
    fill: #fff;
    color: #fff;
    background-color: #e60018
}

.elementor-11 .elementor-element.elementor-element-0e15234 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --z-index: 10
}

.elementor-11 .elementor-element.elementor-element-36ffb62 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s
}

.elementor-11 .elementor-element.elementor-element-36ffb62.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-11 .elementor-element.elementor-element-4f9580e {
    text-align: left
}

.elementor-11 .elementor-element.elementor-element-4f9580e img {
    width: 65%
}

.elementor-11 .elementor-element.elementor-element-55abe85 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --background-transition: 0.3s
}

.elementor-11 .elementor-element.elementor-element-06279c3 .elementor-button {
    font-family: poppins, Sans-serif;
    font-weight: 600;
    fill: #fff;
    color: #fff;
    background-color: #e60018
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-container {
    height: 80px;
    border-radius: 0 0 0 0
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a {
    color: #000;
    padding: 0 15px
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:hover {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:focus {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:active {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li:hover>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li.current-menu-item>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: #101010
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    padding: 15px;
    color: #000
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: #707070
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: #707070 !important
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-submenu-panel {
    padding: 15px 0
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-radius: 0 0 0 0;
    min-width: 220px
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger {
    float: right
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger>.ekit-menu-icon {
    color: rgba(0, 0, 0, .5)
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger:hover {
    background-color: var(--e-global-color-accent)
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: #fff
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: #fff
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-close {
    color: #333
}

.elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-close:hover {
    color: rgba(0, 0, 0, .5)
}

@media(max-width:1024px) {
    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-nav-identity-panel {
        padding: 10px 0
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0 0 0 0
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav>li>a {
        color: #000;
        padding: 10px 15px
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 15px
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0 0 0 0
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-hamburger {
        padding: 8px;
        width: 45px;
        border-radius: 3px
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-menu-close {
        padding: 8px;
        margin: 12px;
        width: 45px;
        border-radius: 3px
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-nav-logo {
        margin: 5px 0;
        padding: 5px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-nav-identity-panel {
        padding: 10px 0
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0 0 0 0
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav>li>a {
        color: #000;
        padding: 10px 15px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 15px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0 0 0 0
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-hamburger {
        padding: 8px;
        width: 45px;
        border-radius: 3px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-menu-close {
        padding: 8px;
        margin: 12px;
        width: 45px;
        border-radius: 3px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-nav-logo {
        margin: 5px 0;
        padding: 5px
    }
}

@media(max-width:767px) {
    .elementor-11 .elementor-element.elementor-element-5dbf152 {
        --padding-top: 18px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-11 .elementor-element.elementor-element-d9b65a9 {
        text-align: center
    }

    .elementor-11 .elementor-element.elementor-element-d9b65a9 img {
        width: 51%
    }

    .elementor-11 .elementor-element.elementor-element-1723c30 {
        --justify-content: center
    }

    .elementor-11 .elementor-element.elementor-element-5b61330 .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px
    }

    .elementor-11 .elementor-element.elementor-element-0e15234 {
        --padding-top: 18px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px
    }

    .elementor-11 .elementor-element.elementor-element-4f9580e {
        text-align: center
    }

    .elementor-11 .elementor-element.elementor-element-4f9580e img {
        width: 51%
    }

    .elementor-11 .elementor-element.elementor-element-55abe85 {
        --justify-content: space-between;
        --padding-top: 0px;
        --padding-right: 30px;
        --padding-bottom: 10px;
        --padding-left: 30px
    }

    .elementor-11 .elementor-element.elementor-element-0770499 .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px
    }
}

@media(min-width:768px) {
    .elementor-11 .elementor-element.elementor-element-c8a3795 {
        --width: 30%
    }

    .elementor-11 .elementor-element.elementor-element-1723c30 {
        --width: 70%
    }

    .elementor-11 .elementor-element.elementor-element-36ffb62 {
        --width: 30%
    }

    .elementor-11 .elementor-element.elementor-element-55abe85 {
        --width: 70%
    }
}