.elementor-658 .elementor-element.elementor-element-cb82ac5 {
    --display: flex;
    --min-height: 0vh;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, .07)
}

.elementor-658 .elementor-element.elementor-element-cb82ac5:not(.elementor-motion-effects-element-type-background),
.elementor-658 .elementor-element.elementor-element-cb82ac5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-658 .elementor-element.elementor-element-cb82ac5,
.elementor-658 .elementor-element.elementor-element-cb82ac5::before {
    --border-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-4df3cf2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-3997cd3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-3997cd3:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-982e51e .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-14dfde4 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-14dfde4>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-658 .elementor-element.elementor-element-d69e156 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-d69e156:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-a2b9176 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-d5ba6a1 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-d5ba6a1>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-658 .elementor-element.elementor-element-5cc125a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-5cc125a:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-906ce51 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-b2edfa0 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-b2edfa0>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-658 .elementor-element.elementor-element-735d2de {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-465b093 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-465b093:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-2748831 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-6d157ee {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-6d157ee>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-658 .elementor-element.elementor-element-4cd7256 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-4cd7256:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-6848b4c .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-1355714 {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-1355714>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-658 .elementor-element.elementor-element-795673e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px;
    --background-transition: 0.3s
}

.elementor-658 .elementor-element.elementor-element-795673e:hover {
    background-color: #f0f0f0
}

.elementor-658 .elementor-element.elementor-element-9a5ea3c .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px
}

.elementor-658 .elementor-element.elementor-element-bed409d {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-658 .elementor-element.elementor-element-bed409d>.elementor-widget-container {
    margin: 8px 0 0
}

@media(min-width:768px) {
    .elementor-658 .elementor-element.elementor-element-4df3cf2 {
        --width: 50%
    }

    .elementor-658 .elementor-element.elementor-element-3997cd3 {
        --width: 100%
    }

    .elementor-658 .elementor-element.elementor-element-d69e156 {
        --width: 100%
    }

    .elementor-658 .elementor-element.elementor-element-5cc125a {
        --width: 100%
    }

    .elementor-658 .elementor-element.elementor-element-735d2de {
        --width: 50%
    }

    .elementor-658 .elementor-element.elementor-element-465b093 {
        --width: 100%
    }

    .elementor-658 .elementor-element.elementor-element-4cd7256 {
        --width: 100%
    }

    .elementor-658 .elementor-element.elementor-element-795673e {
        --width: 100%
    }
}